mixin ystavaOrganisaatio()
  div.org-laatikko
    div.org-vari(ng-class="{ 'org-vari-kysytty': org.status === 'odotetaan', 'org-vari-odottaa': org.status === 'odottaa', 'org-vari-yhteistyo': org.status === 'yhteistyo' }")
    span.nimi(ng-bind="org.nimi | kaanna")
    button.btn.btn-sm.btn-danger(ng-show="$$ekEditing && (org.status === 'yhteistyo' || org.status === 'odotetaan')" ng-bind="'lopeta-yhteistyo' | kaanna" ng-click="lopetaYhteistyo(org)")
    button.btn.btn-sm.btn-success(ng-show="$$ekEditing && org.status === 'odottaa'" ng-bind="'hyvaksy-yhteistyo' | kaanna" ng-click="hyvaksyYhteistyo(org)")


mixin hierarkiaOrganisaatio()
  div.org-laatikko
    div.org-vari(ng-class="{ 'org-vari-oma': org.isOma, 'org-vari-kysytty': org.status === 'odotetaan' && !org.isOma, 'org-vari-odottaa': org.status === 'odottaa' && !org.isOma, 'org-vari-yhteistyo': org.status === 'yhteistyo' && !org.isOma }")
    span.nimi(ng-bind="org.nimi | kaanna")


mixin hierarkia()
  h3(kaanna="'organisaatiohierarkia'")

  div.org-info
    div.org-vari-info
      div.org-vari-oma
      span(ng-bind="'oma-organisaatio' | kaanna")

    div.org-vari-info
      div.org-vari-kysytty
      span(ng-bind="'yhteistyo-kysytty' | kaanna")

    div.org-vari-info
      div.org-vari-odottaa
      span(ng-bind="'yhteistyo-odottaa-hyvaksymista' | kaanna")

    div.org-vari-info
      div.org-vari-yhteistyo
      span(ng-bind="'yhteistyo-organisaation-kanssa' | kaanna")

  .organisaatio-hierarkia(ng-if="!isOph")
    div.hierarkia-keskitaso(ng-repeat="org in hierarkia" ng-style="{ 'margin-left': (org.depth * 40) + 'px' }")
      div.org
        +hierarkiaOrganisaatio()



mixin muutOrganisaatiot()
  h3(ng-if="!isOph" kaanna="'muut-organisaatiot'")

  div
    div(ng-hide="$$ekEditing")
      .checkbox
        label.no-action
          input(type="checkbox" ng-model="koulutustoimija.salliystavat" disabled)
          span(ng-bind="'salli-yhteistyo' | kaanna")
    div(ng-show="$$ekEditing")
      .checkbox
        label
          input(type="checkbox" ng-model="koulutustoimija.salliystavat")
          span(ng-bind="'salli-yhteistyo' | kaanna")

  div(ng-show="kaveritHierarkianUlkopuolella.length > 0 || pyynnot.length > 0")
    div.org-info
      div.org-vari-info
        div.org-vari-kysytty
        span(ng-bind="'yhteistyo-kysytty' | kaanna")
      div.org-vari-info
        div.org-vari-odottaa
        span(ng-bind="'yhteistyo-odottaa-hyvaksymista' | kaanna")
      div.org-vari-info
        div.org-vari-yhteistyo
        span(ng-bind="'yhteistyo-organisaation-kanssa' | kaanna")

  div.ystavalista(ng-show="kaveritHierarkianUlkopuolella.length > 0")
    div.org(ng-repeat="org in kaveritHierarkianUlkopuolella" ng-show="!hierarkiaMap[org.organisaatio]")
      +ystavaOrganisaatio()

  div.ystavalista(ng-show="pyynnot.length > 0")
    h4(ng-bind="'pyynnot-muilta-organisaatioilta' | kaanna")
    div.org(ng-repeat="org in pyynnot")
      +ystavaOrganisaatio()

  button.btn.btn-primary(ng-show="$$ekEditing" ng-click="lisaa()" ng-bind="'laheta-kaveripyynto' | kaanna")

div.yhteistyot
  h2.otsikko(ng-bind="'yhteistyo' | kaanna")
  div(ng-if="!isOph")
    +hierarkia()
  +muutOrganisaatiot()