.tiedot
  +historia("versio",
    "uusin.$$nimi",
    "uusin.date",
    "uusin.id",
    "edit()",
    "listRevisions()",
    "restoreRevision()",
    "restoreNew()")
  .tekstit
    .container-fluid
      h3(kaanna="'tiedot'")
      +formfield("'nimi'")
        +ekinput("yhteiset.nimi")

      +formfield("'tiivistelma'")
        +ekeditor("yhteiset.kuvaus", "simplified")

      +formfield("'paatosnumero'")
        +ekstring("yhteiset.paatosnumero")

      +formfield("'hyvaksyja'")
        +ekstring("yhteiset.hyvaksyja")

      +formfield("'paatospvm'")
        +ekdate("yhteiset.paatospaivamaara", "'paatospvm'")

      +formfield("'voimaantulopvm'")
        +ekdate("yhteiset.voimaantulo", "'voimaantulopvm'")
