div.tiedot
  div.tekstit
    div.container-fluid
      h3 Tiedot
      div.row
        div.col-xs-4
          span Nimi:
        div.col-xs-8
          span Hervannan ammattioppilaitos, yhteiset osat

        div.col-xs-4
          span Projektin työryhmä:
        div.col-xs-8
          span ePerusteet_siirto_pt

        div.col-xs-4
          span Diaarinumero:
        div.col-xs-8
          span 30/011/2009
