.tiedot.subtle-transition
  +historia("versio",
    "uusin.$$nimi",
    "uusin.date",
    "uusin.id",
    "edit()",
    "listRevisions()",
    "restoreRevision()",
    "restoreNew()")
  .tekstit
    .container-fluid
      h1(kaanna="'tiedot'")
      .kohdat
        +formfield("'nimi'")
          +ekinput("ops.nimi")
      h3(ng-bind="'tiedot' | kaanna")
      +formfield("'nimi'")
        +ekinput("ops.nimi")

        +formfield("'tiivistelma'")
          +ekeditor("ops.kuvaus", "simplified")

        span(ng-show="ops.tyyppi !== 'pohja'")
          +formfield("'paatosnumero'")
            +ekstring("ops.paatosnumero")

          +formfield("'hyvaksyja'")
            +ekstring("ops.hyvaksyja")

          +formfield("'paatospvm'")
            +ekdate("ops.paatospaivamaara", "'paatospvm'")

          +formfield("'voimaantulopvm'")
            +ekdate("ops.voimaantulo", "'voimaantulopvm'")
