mixin kielivalinta(kieli)
  label.checkbox-inline
    input(type="checkbox" ng-model="$$julkaisukielet[" + kieli + "]"
      ng-change="kieletVaihtuivat()"
      ng-true-value=kieli ng-false-value="" ng-disabled="!$$ekEditing")
    span(ng-bind=kieli)

mixin esikatselu()
  label.checkbox-inline
    input(type="checkbox" ng-model="ops.esikatseltavissa" ng-disabled="!$$ekEditing")

.tiedot.subtle-transition
  +historia("versio",
    "uusin.$$nimi",
    "uusin.date",
    "uusin.id",
    "edit()",
    "listRevisions()",
    "restoreRevision()",
    "restoreNew()")

  .tekstit
    .container-fluid
      h1(ng-bind="'tiedot' | kaanna")
      .kohdat
        +formfield("'nimi'")
          +ekinput("ops.nimi")

        +formfield("'julkaisukielet'")
          +kielivalinta("'fi'")
          +kielivalinta("'sv'")
          +kielivalinta("'se'")

        +formfield("'esikatselu'")
          +esikatselu

        +formfield("'tiivistelma'")
          +ekeditor("ops.kuvaus", "simplified")

        span(ng-show="ops.tyyppi !== 'pohja'")
          +formfield("'paatosnumero'")
            +ekstring("ops.paatosnumero")

          +formfield("'hyvaksyja'")
            +ekstring("ops.hyvaksyja")

          +formfield("'paatospvm'")
            +ekdate("ops.paatospaivamaara", "'paatospvm'")

          +formfield("'voimaantulopvm'")
            +ekdate("ops.voimaantulo", "'voimaantulopvm'")
