.idea
/eperusteet-amosaa-service/target/
/eperusteet-amosaa-app/build
/eperusteet-amosaa-app/typings
/eperusteet-amosaa-app/src/app/templates.jade
/eperusteet-amosaa-app/node_modules
/eperusteet-amosaa-app/node/
/eperusteet-amosaa-app/tests/node_modules/
/eperusteet-amosaa-app/tests/typings/
/eperusteet-amosaa-app/src/app/**/*.js
/eperusteet-amosaa-app/src/app/**/*.map
target/**
**/target/**
**/oldtests/**

*.iml
.idea/

eperusteet-amosaa-app/tests/node_modules/
eperusteet-amosaa-app/tests/typings/

yarn.lock
