.tiedotteet
    .tiedote
        div.pull-left
            span.icon.fa.fa-exclamation
        a(href="#").pull-right
            span.fa.fa-times
        .tiedote-sisalto
            p T채m채 on testi asdasd asdas.
            p(style="color: gray;") T채m채 on testi asdasd asdas.
