div.koulutustoimija
  h2.otsikko
    span(kaanna="koulutustoimija.organisaatiot[0].nimi")
    button.btn.btn-default
      span.glyphicon.glyphicon-chevron-down

  div.otsikkotaso.yhteinen-osa
    h3 Koulutustoimijakohtainen yhteiset osat
    table.table.boxtable
      tbody
        tr
          td
            div
              div(name="state")
          td
            div Kokkolan kokkikoulun yhteiset
          td
            div
              a(href="#")
                div(name="go")
                  span.glyphicon.glyphicon-chevron-right

  div(ui-view="opetussuunnitelmat")
