div.koulutustoimija
  h2.otsikko
    span(kaanna="koulutustoimija.organisaatiot[0].nimi")
    button.btn.btn-default
      span.glyphicon.glyphicon-chevron-down


  div(ui-view="tiedotteet")
  div(ui-view="yhteiset")
  div(ui-view="opetussuunnitelmat")
