div.yhteiset-nakyma
  div.row
    div.col-xs-12
      div.ylatunniste
        a.pull-left(href="")
          div.muokkaa
            i.fa.fa-pencil
        div.pull-left
          h2(ng-bind="yhteiset.nimi | kaanna")
          h2
            span
              i.fa.fa-magic

        div.painikkeet
          div.keskitetty.pull-right
            button.btn.btn-default(kaanna="'esikatselu'")
            button.btn.btn-default
              span(kaanna="'pdf'")
              span.fa.fa-file-pdf-o.fa-fw


  div.row
    div.col-xs-12
      div.tabit
        ul.nav.nav-tabs
          li(ui-sref-active="active")
            a(ui-sref=".sisalto" kaanna="sisalto")
          li(ui-sref-active="active")
            a(ui-sref=".kasitteet" kaanna="kasitteet")
          li(ui-sref-active="active")
            a(ui-sref=".poistetut" kaanna="poistetut")
          li(ui-sref-active="active")
            a(ui-sref=".oikeudet" kaanna="oikeudet")

  div.row
    div.col-xs-12
      div.ui-view
