div.yhteiset-nakyma
  div.row
    div.col-xs-12
      div.ylatunniste
        a.pull-left(href="#")
          div.muokkaa
            i.fa.fa-pencil
        div.pull-left
          h2 Hervannan ammattioppilaitos, yhteiset osat
          h2
            a(href="#")
              i.fa.fa-magic


        div.painikkeet
          div.keskitetty.pull-right
            a.btn.btn-default Esikatselu
            a.btn.btn-default PDF

  div.row
    div.col-xs-12
      div.tabit
        ul.nav.nav-tabs
          li(ui-sref-active="active")
            a(ui-sref=".sisalto") Sisaltö
          li(ui-sref-active="active")
            a(ui-sref=".kasitteet") Käsitteet
          li(ui-sref-active="active")
            a(ui-sref=".poistetut") Poistetut

  div.row
    div.col-xs-12
      div.ui-view
