div(ui-view="ylanavi")
div(style="padding: 2px")
  // TODO: "Selvitetään käyttäjän organisaatioita"
  // div(ng-if="'root' | isState")
    span morjens
  div.ui-view
  div(style="margin-top: 160px" ui-view="footer")
