div#ylanavi
  div.navbar.navbar-default
    div#kielivalitsin
      a kielivalinta
  div#murupolku
    ol.breadcrumb
      li
        a(href="")
          span.glyphicon.glyphicon-home
      li
        a(href="") koulutustoimija
      li
        a(href="") 42
      li
        a(href="") ops
      li
        a(href="") 1
