div#ylanavi
  div.navbar.navbar-default
    div.pull-right
      a kielivalinta
  div#murupolku
    ol.breadcrumb
      li
        a(ui-sref="root")
          span.glyphicon.glyphicon-home
      li
        a(ui-sref="root.koulutustoimija") koulutustoimija
      li
        a(href="") 42
      li
        a(href="") ops
      li
        a(href="") 1
