div.modal-header
    h2.modal-title(kaanna="'termi'")

.modal-body
    form-horizontal
        .form-group
            label.control-label(for='termi', ng-bind="'termi' | kaanna")
            input#termi.form-control(slocalized ng-model="kasite.termi" required=true)
        .form-group.ckeditor-input-top-margin
            label.control-label(for='selitys', ng-bind="'selitys' | kaanna")
            div#selitys.cke_show_borders.form-control(ckeditor slocalized ng-model="kasite.selitys" layout="normal")
        div
            strong.kasite-checkbox(for='alaviite', ng-bind="'alaviite' | kaanna")
            ohje(teksti="Merkitse käsite alaviiteeksi", otsikko="Kasite alaviite", suunta="top")
        div.checkbox
            label
                input.form-control#alaviite(type='checkbox', checked="true", ng-model="kasite.alaviite")
                p Merkitse käsite alaviiteeksi

div.modal-footer
    button.btn.btn-default(type='button', data-dismiss='modal', ng-click="cancel()", ng-bind="'peruuta' | kaanna")
    button.btn.btn-primary(type='button', ng-click="save()", ng-bind="'OK' | kaanna")