mixin searchbox(model, label, placeholder, onChange)
  .form-group.has-feedback.has-feedback-left
    label.control-label(kaanna=label)
    input.form-control(type='text', ng-change=onChange placeholder="{{ " + placeholder + " | kaanna }}", ng-model=model)
    i.form-control-feedback.glyphicon.glyphicon-search(style="color: gray;")


div.modal-header
  h2.pull-left(kaanna="'versio-historia'")
  .pull-right
    +kielivalitsin
  .clearfix

div.modal-body
  .history-search
    +searchbox("search", "'suodata-versioita'", "'kirjoita-kommentteja'", "update(search)")

  .history-list
    .history-item(ng-repeat="revision in revisions")
      .hi-topic(ng-click="toggle(revision)")
        a.hi-id(href="" ng-click="ok(revision.id)" ng-bind="revision.$$number")
        span.hi-muokkaaja(ng-bind="revision.muokkaaja")
        span.hi-aikaleima(ng-bind="revision.date | aikaleima")
      .hi-kommentti(ng-show="revision.kommentti")
        p(ng-bind="revision.kommentti")

  nav
    ul.pagination
      li
        a(href="") «
      li(ng-class="{ 'active': page === pagination.current }" ng-repeat=("page in pagination.pages"))
        a(href="" ng-click="selectPage(page)") {{ page + 1 }}
      li
        a(href="") »


div.modal-footer
  .pull-left.history-total
    span
      span(kaanna="'hakutuloksia'")
      span=": "
      span(ng-bind="revisions.length")

  button.btn.btn-default(ng-click="ok()", kaanna="'peruuta'")
