div
  h2(kaanna="'guidance-koulutustoimija'")
  p.
    Hei! Olet tullut juuri koulutustoimijan ikiomaan näkymään.
    Tästä näkymästä näet OPH:n ja koulutustoimijasi lähettämät tiedotteet,
    koulutustoimijan yhteiset sisällöt sekä opetussuunnitelmat.

  h4 Tässä ikoni:
    span.fa.fa-exclamation
