div
  h3(ng-bind="'guidance-koulutustoimija-otsikko' | kaanna")
  p(ng-bind="'guidance-koulutustoimija-sisalto' | kaanna")
  p(ng-bind="'guidance-koulutustoimija-tiedotteet' | kaanna")
  p(ng-bind="'guidance-koulutustoimija-yhteinen' | kaanna")
  p(ng-bind="'guidance-koulutustoimija-opetussuunnitelmat' | kaanna")

