div
  h3(kaanna="'guidance-koulutustoimija-otsikko'")
  p(kaanna="'guidance-koulutustoimija-sisalto'")
  p(kaanna="'guidance-koulutustoimija-tiedotteet'")
  p(kaanna="'guidance-koulutustoimija-yhteinen'")
  p(kaanna="'guidance-koulutustoimija-opetussuunnitelmat'")
