div.modal-header
  h2.pull-left(ng-bind="'lisaa-pohja' | kaanna")
  .pull-right
    +kielivalitsin
  .clearfix

div.modal-body.modal-sisalto
  h3(ng-bind="'anna-nimi' | kaanna")
  input.form-control(slocalized ng-model="pohja.nimi" type="text" required="true")

div.modal-footer
  button.btn.btn-default(ng-click="peruuta()")
    span(ng-bind="'peruuta' | kaanna")
  button.btn.btn-primary(ng-click="ok(pohja)")
    span(ng-bind="'lisaa' | kaanna")

