div.modal-header
  h2(kaanna="'lisaa-sisaltoa'")

div.modal-body.modal-sisalto
  div.sisalto-valinta(ng-hide="obj.tyyppi")
    div(ng-repeat="tyyppi in sallitut")
      div.sisalto-item(ng-click="valitse(tyyppi)")
        span.sisalto-icon
          +icon("file-text-o")
        div.sisalto-text
          a(href="", ng-bind="'sisaltotyyppi-' + tyyppi | kaanna")

  div.sisalto-tekstikappale(ng-show="obj.tyyppi === 'tekstikappale'")
    h3(kaanna="'anna-nimi'")
    input.form-control(slocalized ng-model="obj.data.tekstiKappale.nimi" type="text" required="true")

div.modal-footer
  button.btn.btn-primary(ng-disabled="!obj || !obj.tyyppi" ng-click="ok(obj)")
    span(kaanna="'lisaa'")
  button.btn.btn-default(ng-click="ok()")
    span(kaanna="'peruuta'")
