div.modal-header
  h2.pull-left(ng-bind="'lisaa-yhteinen' | kaanna")
  .pull-right
    +kielivalitsin
  .clearfix

div.modal-body.modal-sisalto
  div(ng-hide="pohjat.length > 0")
    div.alert.alert-warning
      div(ng-bind="'yhteisien-osien-pohjia-ei-viela-luotu' | kaanna")

  .content-spacing(ng-show="pohjat.length > 1")
    h3(ng-bind="'valitse-pohja' | kaanna")
    div.select-list
      div.select-item(ng-repeat="pohja in pohjat" ng-click="valitsePohja(pohja)")
        input.form-control(type="radio" ng-checked="valittuPohja === pohja")
        div.select-label(ng-bind="pohja.nimi | kaanna")

  .content-spacing(ng-show="valittuPohja")
    h3(ng-bind="'anna-nimi' | kaanna")
    input.form-control(slocalized ng-model="yhteinen.nimi" type="text" required="true")

div.modal-footer
  button.btn.btn-default(ng-click="peruuta()")
    span(ng-bind="'peruuta' | kaanna")
  button.btn.btn-primary(ng-click="ok(yhteinen)")
    span(ng-bind="'lisaa' | kaanna")

