div.modal-header
  h2.pull-left(kaanna="'lisaa-yleinen'")
  .pull-right
    +kielivalitsin
  .clearfix
  h2(ng-bind="'lisaa-yleinen' | kaanna")

div.modal-body
  .content-spacing
    h3(ng-bind="'anna-nimi' | kaanna")
    input.form-control(slocalized ng-model="ops.nimi" type="text" required="true")


div.modal-footer
  button.btn.btn-default(ng-click="peruuta()", ng-bind="'peruuta' | kaanna")
  button.btn.btn-primary(ng-click="ok(ops)", ng-bind="'tallenna' | kaanna")

