div.nakyma
  div.ylapalkki
    div.pull-left
      p
        span
          b Muokattu:
        span 11.11.2015 12:31
      p
        span
          b Muokkaaja:
        span Kaarlo käyttäjä

    div.pull-right
      a(href="").btn.btn-default.muokkaa
        i.fa.fa-pencil

    div.pull-right
      p
        span
          b Versio:
        input(type="number",value="3")
      a(href="#")
        p
          b Historia

  div
    div(ui-view)
