div.nakyma
  div.ylapalkki
    div.pull-left
      p
        span
          b Muokattu:
        span 11.11.2015 12:31
      p
        span
          b Muokkaaja:
        span Kaarlo käyttäjä

    div.pull-right
      a(href="").btn.btn-default.muokkaa
        i.fa.fa-pencil

    div.pull-right
      p
        span
          b Versio:
        input(type="number",value="3")
      a(href="#")
        p
          b Historia

  div.tekstit
    div.container-fluid
      h3 Tiedot
      div.row
        div.col-xs-4
          span Nimi:
        div.col-xs-8
          span Hervannan ammattioppilaitos, yhteiset osat

        div.col-xs-4
          span Projektin työryhmä:
        div.col-xs-8
          span ePerusteet_siirto_pt

        div.col-xs-4
          span Diaarinumero:
        div.col-xs-8
          span 30/011/2009
