div.sivunavi
  div.haku
    div.form-inline
      div.form-group.has-feedback.has-feedback-left
        input.form-control(type="text", placeholder="Hae")
        i.form-control-feedback.glyphicon.glyphicon-search(style="color: gray;")
        a(href="").btn.btn-default.square
          i.fa.fa-arrows-v

        a(href="").btn.btn-default.square
          i.fa.fa-plus
  div.valikko
    ul
      li
        a(href="").active Tiedot
      li
        a(href="") Opetuksen järjestäminen
      li
        a(href="") Elinikäisen oppimisen avaintaitojen kuvaus
      li
        a(href="") LIITE 1
      li
        a(href="") LIITE 2
      li
        a(href="") Teksti
