td(width="20%")
  div(ng-if="creatingNewKasite")
    input.form-control(slocalized ng-model="newKasite.termi" type="text" required=true)
  div(ng-show="!creatingNewKasite" ng-click="createKasite()")
    i(ng-bind-html="'lis채채 termi...' | kaanna")
td
  div(ng-if="creatingNewKasite")
    div.form-control.ckeditor(ckeditor ng-model="newKasite.selitys" slocalized layout="normal")
  div(ng-show="!creatingNewKasite" ng-click="createKasite()")
    i(ng-bind-html="'lis채채 selitys...' | kaanna")
td(width="90px")
  span.info(ng-if="!creatingNewKasite" ng-click="createKasite()")
    ohje(teksti="kasite-alaviite-ohje" otsikko="alaviite-ohje-otsikko" suunta="top")
  div.checkbox.abc-checkbox.alaviite(ng-show="creatingNewKasite")
    input.styled.abc-checkbox-danger(type="checkbox" checked="true" ng-model="newKasite.alaviite")
    label
td(width="90px")
  span.pull-right(ng-if="!creatingNewKasite")
    +addButtonSmall("createKasite()")
  span.pull-right(ng-if="creatingNewKasite")
    +saveButtonSmall("postKasite(newKasite)", "btn-small-margin-left")
  span.pull-right(ng-if="creatingNewKasite")
    +cancelButtonSmall("cancel()")
