mixin valinnat()
  .tkv-valinnat
    .tkv-valinta
      +checkbox("'valmis'", "tkv.valmis")
    .tkv-valinta(ng-if="ops.tyyppi === 'pohja'")
      +checkbox("'pakollinen'", "tkv.pakollinen")
    .tkv-valinta(ng-if="ops.tyyppi === 'pohja'")
      +checkbox("'liikuttaminen-estetty'", "tkv.liikkumaton")
  .clearfix

mixin teksti(kentta)
  p(style="margin-bottom: 16px" termisto-viitteet=kentta ng-bind-html=kentta + "| kaanna | unsafe")

.tekstikappaleet.subtle-transition
  .ylapalkki
    +historia("versio",
      "tkv.tekstiKappale.$$nimi",
      "tkv.tekstiKappale.muokattu",
      "1",
      "edit()",
      "listRevisions()",
      "restoreRevision()",
      "restoreNew()")
      button.btn.btn-primary.muokkaa(ng-show="$$ekEditing" ng-click="remove()" kaanna="'poista'")

  div
    +valinnat
    div(ng-if="$$ekEditing")
      h1(kaanna="'nimi'" style="margin-bottom: 16px; margin-top: 16px" )
      input.form-control(style="margin-bottom: 16px; margin-top: 16px" slocalized ng-model="tkv.tekstiKappale.nimi" type="text" required="true")
      div(ng-if="ops.tyyppi === 'pohja'")
        h1(kaanna="'tekstikappale-ohjeteksti'")
        div(style="margin-bottom: 16px" ckeditor slocalized ng-model="tkv.ohjeteksti" layout="normal")
        h1(kaanna="'tekstikappale-perusteteksti'")
        div(style="margin-bottom: 16px" ckeditor slocalized ng-model="tkv.perusteteksti" layout="normal")
      h1(kaanna="'sisalto'")
      div(style="margin-bottom: 16px" ckeditor slocalized ng-model="tkv.tekstiKappale.teksti" layout="normal")
    div(ng-if="!$$ekEditing")
      h1(style="margin-bottom: 16px; margin-top: 16px" kaanna="tkv.tekstiKappale.nimi")
      div.ohjeteksti(ng-if="tkv.ohjeteksti")
        a(href="" ng-click="$$showOhjeteksti = !$$showOhjeteksti" kaanna="'toggle-ohjeteksti'")
        div(style="margin-top: 10px;" ng-show="$$showOhjeteksti")
          +teksti("tkv.ohjeteksti")
      div.perusteteksti(ng-if="tkv.ohjeteksti")
        a(href="" ng-click="$$showPerusteteksti = !$$showPerusteteksti" kaanna="'toggle-perusteteksti'")
        div(style="margin-top: 10px;" ng-show="$$showPerusteteksti")
          +teksti("tkv.perusteteksti")
      +teksti("tkv.tekstiKappale.teksti")
