div
  div.sisalto-list.subtle-transition(style="padding-left: 30px" ui-sortable="misc.sortableOptions" ng-model="ngModel.lapset" ng-if="!ngModel.$$poistettu")
    div(ng-repeat="child in ngModel.lapset")
      div.sisalto-item
        div.sisalto-handle(ng-if="!child.$$poistettu")
          +icon("arrows-v")
        div.sisalto-handle-disabled(ng-if="child.$$poistettu")
          +icon("ban")
        div.sisalto-poistaminen
          a(ng-if="!child.$$poistettu" ng-click="misc.poista(child)" kaanna="'poista'")
          a(ng-if="child.$$poistettu && !child.$$parent.$$poistettu && child.lapset.length > 0" ng-click="misc.palauta(child)" kaanna="'palauta-kaikki'")
          a(ng-if="child.$$poistettu" ng-click="misc.palautaYksi(child)" kaanna="'palauta'")
        div.sisalto-nimi(ng-class="{'sisalto-poistettu': child.$$poistettu}")
          span(ng-bind="child.$$obj.tekstiKappale.nimi | kaanna")
          span=" "
      dynamic(template="states/koulutustoimija/opetussuunnitelmat/sisalto/rakenne.jade" ng-model="child" misc="misc" depth="depth + 1")

  div.sisalto-list.subtle-transition(style="padding-left: 30px" ng-model="ngModel.lapset" ng-if="ngModel.$$poistettu")
    div(ng-repeat="child in ngModel.lapset")
      div.sisalto-item
        div.sisalto-handle-disabled
          +icon("ban")
        div.sisalto-poistaminen
          a(ng-click="misc.palautaYksi(child)" kaanna="'palauta'")
        div.sisalto-nimi.sisalto-poistettu
          span(ng-bind="child.$$obj.tekstiKappale.nimi | kaanna")
          span=" "
      dynamic(template="states/koulutustoimija/opetussuunnitelmat/sisalto/rakenne.jade" ng-model="child" misc="misc" depth="depth + 1")
