div
  div.sisalto-list.subtle-transition(style="padding-left: 30px" ui-sortable="misc" ng-model="ngModel.lapset")
    div(ng-repeat="child in ngModel.lapset")
      div.sisalto-item
        div.sisalto-handle
          +icon("arrows-v")
        div.sisalto-nimi(ng-bind="child.$$obj.tekstiKappale.nimi | kaanna")
      dynamic(template="states/koulutustoimija/opetussuunnitelmat/sisalto/rakenne.jade" ng-model="child" misc="misc" depth="depth + 1")

