li(ng-show="!item.$$hidden" ng-repeat="item in ngModel" id="{{ 'sisalto-item-' + item.id }}")
  span
    a.pakollinen(ng-class="{ pakollinen: item.$$obj.pakollinen, liikkumaton: item.$$obj.liikkumaton }"
      style="padding-left: {{ (item.$$depth - 1) * 20 + 30 }}px"
      href=""
      ui-sref-active="active"
      ui-sref="root.koulutustoimija.opetussuunnitelmat.sisalto.osa({ osaId: item.id })")
      span.multi-item(ng-show="item.lapset.length > 0 && !misc.isSearching" ng-click="misc.toggleItem($event, item)")
        +turboChevron("item.$$closed")
      span(ng-bind="(item.$$obj.tekstiKappale.nimi || 'nimeton-tekstikappale') | kaanna")
      span.pull-right
        span.glyphicon.glyphicon-check(ng-show="item.$$obj.valmis" style="color: #00af00;")
        span(ng-show="item.$$obj.tyyppi === 'tutkinnonosa' && item.$$obj.tosa.tyyppi === 'oma'")
          +icon("map-marker")
  div(ng-hide="item.$$closed && !misc.isSearching")
    dynamic(template="states/koulutustoimija/opetussuunnitelmat/sisalto/sivunaviitem.jade" ng-model="item.lapset" misc="misc")
