div.sivunavi.subtle-transition
  div.haku(sticky top-spacing="44")
    div.form-inline
      div.form-group.has-feedback.has-feedback-left
        input.form-control(ng-change="suodata(search)" type="text" ng-model="search" placeholder="{{ 'hae' | kaanna }}")
        i.form-control-feedback.glyphicon.glyphicon-search(style="color: gray;")
        button.btn.btn-default.square(ng-hide="$$ekEditing" href="" ng-click="add()" oikeustarkastelu="muokkaus")
          +icon("plus")
        button.btn.btn-default.square(ng-hide="$$ekEditing" href="" ng-click="startSorting()" oikeustarkastelu="muokkaus")
          +icon("arrows-v")

  div.valikko(id="ops-sivunavi" sticky top-spacing="88")
    ul
      li
        a(ng-class="{ pakollinen: item.$$obj.pakollinen, liikkumaton: item.$$obj.liikkumaton }"
          href="" ui-sref-active="active" ui-sref=".tiedot" kaanna="'tiedot'")
      dynamic(template="states/koulutustoimija/opetussuunnitelmat/sisalto/sivunaviitem.jade" ng-model="sivunavi.lapset" misc="misc")
