div.sp-laatikko(ng-if="!ngModel.$$poistettu" ng-hide="ngModel.$$piilotettu")
  div.sp-tutkinnonosa(ng-class="{ 'sp-laatikko-active': !ngModel.$$piilotettu && misc.hasInput }" ng-if="ngModel._tutkinnonOsaViite" ng-init="tosa = misc.tosat[ngModel._tutkinnonOsaViite];")
    div.sp-sisalto.sp-sisalto-tosa
      div.sp-nimi(kaanna="tosa.$$tosa.nimi")
      div.sp-toolbar
        div.sp-edit(ng-show="misc.root.$$ekEditing && !ngModel.pakollinen")
          a(href="" ng-click="misc.poistaOsa(ngModel)")
            +gicon("remove")
        span.laajuus(ng-bind="tosa.laajuus")

  div.sp-ryhma(ng-if="ngModel.rooli && ngModel.rooli !== 'määrittelemätön' && !ngModel.vieras")
    div.sp-sisalto(class="{{ 'sp-sisalto-' + (ngModel.osaamisala ? 'osaamisala' : 'ryhma') }}")
      div.sp-toggler(ng-class="{ 'sp-toggler-osaamisala': ngModel.osaamisala, 'sp-toggler-ryhma': !ngModel.osaamisala }" ng-click="ngModel.$$show = !ngModel.$$show")
        div.chevron
          span.glyphicon.glyphicon-chevron-down(ng-show="ngModel.$$show || misc.$$kaikkiAuki")
          span.glyphicon.glyphicon-chevron-right(ng-hide="ngModel.$$show || misc.$$kaikkiAuki")
      div.sp-nimi
        span(kaanna="ngModel.nimi")
        span.sp-osaamisala(ng-if="ngModel.osaamisala" ng-bind="ngModel.osaamisala.osaamisalakoodiArvo")
      div.sp-toolbar(ng-show="misc.root.$$ekEditing")
        div.sp-edit(ng-show="depth > 1 && misc.root.$$ekEditing && ngModel.osaamisala")
          a(href="" ng-click="misc.poistaOsa(ngModel)")
            +gicon("remove")
        div.sp-edit
          a(href="" ng-click="misc.editNode(ngModel)")
            +gicon("pencil")

    div.sp-ryhma-lapset(ng-if="ngModel.$$show || misc.$$kaikkiAuki || (!ngModel.$$piilotettu && misc.hasInput)" ng-repeat="osa in ngModel.osat")
      dynamic(template="states/koulutustoimija/opetussuunnitelmat/sisalto/osa/polunrakenne.jade" misc="misc" ng-model="osa" depth="depth + 1")

