mixin poistoToggler()
  a(href="" ng-click="misc.poistoToggle(ngModel)")
    span(color="color: #f55;" ng-hide="ngModel.$$poistettu")
      +icon("remove")
    span(ng-show="ngModel.$$poistettu")
      +icon("undo")

mixin polkuTutkinnonosa()
  div.sp-tutkinnonosa(ng-class="{ 'sp-laatikko-active': ngModel.$$haettu, 'sp-sisalto-poistettu': ngModel.$$poistettu }" ng-show="ngModel._tutkinnonOsaViite" ng-init="tosa = misc.tosat[ngModel._tutkinnonOsaViite];")
    div.sp-sisalto.sp-sisalto-tosa
      div.sp-nimi
        span(kaanna="tosa.$$tosa.nimi")
      div.sp-toolbar
        span.laajuus
          span(ng-bind="tosa.laajuus")
          span(style="margin-left: 2px" ng-bind="misc.suoritustapa.laajuusYksikko | kaanna")
        div.sp-edit(ng-show="misc.root.$$ekEditing")
          +poistoToggler

        div.sp-edit(ng-if="misc.root.$$ekEditing" ng-hide="ngModel.$$poistettu")
          a(href="" ng-click="misc.editNode(ngModel)")
            +gicon("pencil")


mixin muodostuminen()
  div.sp-muodostuminen(ng-show="ngModel.muodostumisSaanto"
    ng-class="{ 'muodostuminen-valid': ngModel.$$valid, 'muodostuminen-invalid': !ngModel.$$valid && ngModel.rooli !== 'määrittelemätön' }"
    ng-init="laajuus = ngModel.muodostumisSaanto.laajuus; koko = ngModel.muodostumisSaanto.koko; laajuusSama = laajuus.minimi === laajuus.maksimi")
    span(ng-show="ngModel.$$laskettuLaajuus && !ngModel.$$valid")
      span(ng-bind="ngModel.$$laskettuLaajuus")
      span(style="margin: 0 2px 0 2px") /
    span(ng-show="laajuus.minimi || laajuus.maksimi" ng-bind="laajuus.minimi || 0")
    span(ng-show="!laajuusSama") {{ ' - ' }}
    span(ng-show="laajuus.maksimi && !laajuusSama" ng-bind="laajuus.maksimi")
    span(style="margin-left: 2px" ng-show="laajuus.minimi || laajuus.maksimi" ng-bind="misc.suoritustapa.laajuusYksikko | kaanna")


mixin polkuRyhmaToolbar()
  div.sp-toolbar
    +muodostuminen
    span(ng-show="misc.root.$$ekEditing")
      div.sp-edit(ng-show="misc.root.$$ekEditing && ngModel.osaamisala")
        +poistoToggler
      div.sp-edit(ng-hide="ngModel.$$poistettu")
        a(href="" ng-click="misc.editNode(ngModel)")
          +gicon("pencil")


mixin polkuRyhmaChevron()
  div.sp-toggler(ng-show="!isVieras" ng-class="{ 'sp-toggler-osaamisala': ngModel.osaamisala, 'sp-toggler-ryhma': !ngModel.osaamisala }" ng-click="misc.toggle(ngModel)")
    div.chevron
      span.glyphicon.glyphicon-chevron-down(ng-hide="ngModel.$$collapsed")
      span.glyphicon.glyphicon-chevron-right(ng-show="ngModel.$$collapsed")


mixin polkuRyhma()
  div.sp-ryhma(ng-show="ngModel.rooli" ng-init="isVieras = ngModel.rooli === 'määrittelemätön' || ngModel.vieras; ")
    div.sp-sisalto(ng-class="{ 'sp-sisalto-unspecified': isVieras, 'sp-sisalto-osaamisala': !isVieras && ngModel.osaamisala, 'sp-sisalto-ryhma': !isVieras && !ngModel.osaamisala, 'sp-sisalto-poistettu': ngModel.$$poistettu }")
      +polkuRyhmaChevron
      div.sp-nimi
        span(kaanna="ngModel.nimi")
        span.sp-osaamisala(ng-show="ngModel.osaamisala" ng-bind="ngModel.osaamisala.osaamisalakoodiArvo")
      +polkuRyhmaToolbar
    div.sp-ryhma-lapset(ng-hide="ngModel.$$poistettu" ng-show="!ngModel.$$collapsed || (misc.hasInput && ngModel.$$haettu)" ng-repeat="osa in ngModel.osat")
      dynamic(template="states/koulutustoimija/opetussuunnitelmat/sisalto/osa/polunrakenne.jade" misc="misc" ng-model="osa" depth="depth + 1")


div.sp-laatikko(ng-hide="(misc.hasInput && !ngModel.$$haettu) || (!misc.collapsed_removed && ngModel.$$poistettu)")
  +polkuTutkinnonosa
  +polkuRyhma
