div
  .suorituspolku-otsikko
    h2
      span(ng-bind="perusteRakenne.nimi | kaanna")
      span.suorituspolku-laajuus(ng-show="perusteRakenne.muodostumisSaanto.laajuus.minimi || perusteRakenne.muodostumisSaanto.laajuus.maksimi")
        span ,
        span(style="margin-left: 5px;" ng-bind="perusteRakenne.muodostumisSaanto.laajuus.minimi || perusteRakenne.muodostumisSaanto.laajuus.maksimi")
        span(style="margin-left: 5px;" ng-bind="misc.suoritustapa.laajuusYksikko | kaanna")
    p(ng-bind="perusteRakenne.kuvaus | kaanna")

  .pull-left.haku
    .form-inline
      .form-group.has-feedback.has-feedback-left
        input.form-control.input-sm(ng-change="suodata(search)" type="text" ng-model="search" placeholder="{{ 'hae' | kaanna }}")
        i.form-control-feedback.glyphicon.glyphicon-search(style="color: gray;")

  .pull-right
    button.btn.btn-sm.btn-default(
      ng-click="togglePoistetut()"
      ng-bind="(misc.collapsed_removed ? 'piilota-poistetut' : 'nayta-poistetut') | kaanna")
    button.btn.btn-sm.btn-default(style="margin-left: 6px;"
      ng-click="toggleAll()"
      ng-bind="(collapsed_dirty ? 'sulje-kaikki' : 'avaa-kaikki') | kaanna")

div.suorituspolku
  div.sp-ryhma-lapset(ng-repeat="osa in perusteRakenne.osat")
    dynamic(template="states/koulutustoimija/opetussuunnitelmat/sisalto/osa/polunrakenne.jade" misc="misc" ng-model="osa" depth="depth + 1")
