div

  .suorituspolku-valinnat(ng-show="$$ekEditing")
    +checkbox("osa.$$osasuorituspolku", "misc.update()", "'osasuorituspolku' | kaanna")
    div(ng-hide="osa.tyyppi === 'osasuorituspolku'")
      +checkbox("osa.suorituspolku.naytaKuvausJulkisesti", "", "'nayta-kuvaus-julkisesti' | kaanna")

  .suorituspolku-laajuus(ng-show="osa.tyyppi === 'osasuorituspolku'")
    div(ng-if="osa.suorituspolku.osasuorituspolkuLaajuus || $$ekEditing")
      +contentToggler("osa.suorituspolku.$$naytaLaajuus", "'osasuorituspolku-laajuus'")
        div(ng-if="$$ekEditing")
          numberinput(type="float" model="osa.suorituspolku.osasuorituspolkuLaajuus" step="0.5")
        div(ng-if="!$$ekEditing")
          span(ng-bind="osa.suorituspolku.osasuorituspolkuLaajuus")
          span(style='margin-left: 2px', ng-show='misc.suoritustapa.laajuusYksikko', ng-bind='misc.suoritustapa.laajuusYksikko | kaanna')

  .suorituspolku-otsikko(ng-hide="osa.tyyppi === 'osasuorituspolku'")
    h2
      span(ng-bind="perusteenNimi | kaanna")
      span.suorituspolku-laajuus(ng-show="perusteRakenne.muodostumisSaanto.laajuus.minimi || perusteRakenne.muodostumisSaanto.laajuus.maksimi")
        span ,
        span(style="margin-left: 5px;" ng-bind="perusteRakenne.muodostumisSaanto.laajuus.minimi || perusteRakenne.muodostumisSaanto.laajuus.maksimi")
        span(style="margin-left: 5px;" ng-bind="misc.suoritustapa.laajuusYksikko | kaanna")
    p(ng-bind-html="perusteRakenne.kuvaus | kaanna")
      div(ng-show="$$ekEditing", style="margin-bottom: 30px;")
        +checkbox("osa.suorituspolku.piilotaPerusteenTeksti", "", "'piilota-perusteen-teksti' | kaanna")

  .pull-left.haku
    .form-inline
      .form-group.has-feedback.has-feedback-left
        input.form-control.input-sm(ng-change="suodata(search)" ng-model="search" placeholder="{{ 'hae' | kaanna }}")
        i.form-control-feedback.glyphicon.glyphicon-search(style="color: gray;")

  .pull-right
    button.btn.btn-sm.btn-default(
      ng-click="togglePoistetut()"
      ng-bind="(misc.collapsed_removed ? 'piilota-poistetut' : 'nayta-poistetut') | kaanna")
    button.btn.btn-sm.btn-default(style="margin-left: 6px;"
      ng-click="toggleAll()"
      ng-bind="(collapsed_dirty ? 'sulje-kaikki' : 'avaa-kaikki') | kaanna")

div.suorituspolku
  div(ng-show="!$$ekEditing && !perusteRakenne.$$valid")
    div.alert.alert-warning
      h3(ng-bind="'suorituspolku-sisaltaa-virheita' | kaanna")

  div.sp-ryhma-lapset(ng-repeat="osa in perusteRakenne.osat")
    dynamic(template="states/koulutustoimija/opetussuunnitelmat/sisalto/osa/polunrakenne.jade" misc="misc" ng-model="osa" depth="depth + 1")
