mixin valinnat()
  .tkv-valinnat
    .tkv-valinta
      // +checkbox("'valmis'", "osa.valmis")
    .tkv-valinta(ng-if="ops.tyyppi === 'pohja'")
      +checkbox("osa.pakollinen", "", "'pakollinen'")
    .tkv-valinta(ng-if="ops.tyyppi === 'pohja'")
      +checkbox("osa.liikkumaton", "", "'liikuttaminen-estetty'")
  .clearfix

.tekstikappaleet.subtle-transition
  +historia("versio",
    "uusin.$$nimi",
    "uusin.date",
    "uusin.id",
    "edit()",
    "listRevisions()",
    "restoreRevision()",
    "restoreNew()")
    button.btn.btn-danger.muokkaa(ng-show="$$ekEditing && !osa.pakollinen" ng-click="remove()" oikeustarkastelu="muokkaus")
      +itext("remove", 'poista')

  div
    history-modal(versions="historia" endpoint="osa")
    div(ng-if="$$ekEditing")
      h1(ng-bind="'nimi' | kaanna" style="margin-bottom: 16px; margin-top: 16px" )
      input.form-control(style="margin-bottom: 16px; margin-top: 16px" slocalized ng-model="osa.tekstiKappale.nimi" type="text" required="true" ng-disabled="pTosa")
      +valinnat
      div(ng-if="ops.tyyppi === 'pohja'")
        +contentToggler("$$showOhje", "'tekstikappale-ohjeteksti'")
          div(style="margin-bottom: 16px" ckeditor slocalized ng-model="osa.ohjeteksti" layout="normal")
        +contentToggler("$$showPerusteteksti", "'tekstikappale-perusteteksti'")
          div(style="margin-bottom: 16px" ckeditor slocalized ng-model="osa.perusteteksti" layout="normal")
      div(ng-if="ops.tyyppi !== 'pohja'")
        .checkbox
          label
            input.checked(type="checkbox" ng-model="osa.valmis")
            span(kaanna="'valmis'")
        div.ohjeteksti(ng-if="osa.ohjeteksti")
          a(href="" ng-click="toggleVar('$$showOhjeteksti')" ng-bind="'toggle-ohjeteksti' | kaanna")
          div(style="margin-top: 10px;" ng-show="$$showOhjeteksti")
            +teksti("osa.ohjeteksti")
        div.perusteteksti(ng-if="osa.ohjeteksti")
          a(href="" ng-click="toggleVar('$$showPerusteteksti')" ng-bind="'toggle-perusteteksti' | kaanna")
          div(style="margin-top: 10px;" ng-show="$$showPerusteteksti")
            +teksti("osa.perusteteksti")

      +contentToggler("$$showSisalto", "'sisalto'")
        div(style="margin-bottom: 16px" ckeditor slocalized ng-model="osa.tekstiKappale.teksti" layout="normal")

    div(ng-if="!$$ekEditing")
      h1(style="margin-bottom: 16px; margin-top: 16px")
        span(ng-bind="osa.tekstiKappale.nimi | kaanna")
        span(style="margin-left: 5px;" ng-show="osa.tyyppi === 'tutkinnonosa' && osa.tosa.tyyppi === 'oma' && osa.tosa.omatutkinnonosa.koodi")
          span ({{ osa.tosa.omatutkinnonosa.koodi }})
        span(style="margin-left: 5px;" ng-show="osa.tosa.tyyppi === 'perusteesta' && pTosa.koodiArvo")
          span ({{ pTosa.koodiArvo }})
        span.glyphicon.glyphicon-check(ng-show="osa.valmis" style="color: #00af00; font-size: 12px; padding: 4px; position: relative; top: -2px")
      div.ohjeteksti(ng-if="osa.ohjeteksti")
        a(href="" ng-click="toggleVar('$$showOhjeteksti')" ng-bind="'toggle-ohjeteksti' | kaanna")
        div(style="margin-top: 10px;" ng-show="$$showOhjeteksti")
          +teksti("osa.ohjeteksti")
      div.perusteteksti(ng-if="osa.ohjeteksti")
        a(href="" ng-click="toggleVar('$$showPerusteteksti')" ng-bind="'toggle-perusteteksti' | kaanna")
        div(style="margin-top: 10px;" ng-show="$$showPerusteteksti")
          +teksti("osa.perusteteksti")
      +teksti("osa.tekstiKappale.teksti")

  div(ng-if="osa.tyyppi === 'tekstikappale'"     ui-view="tekstikappale")
  div(ng-if="osa.tyyppi === 'tutkinnonosat'"     ui-view="tutkinnonosat")
  div(ng-if="osa.tyyppi === 'tutkinnonosa'"      ui-view="tutkinnonosa")
  div(ng-if="osa.tyyppi === 'tutkinnonosaryhma'" ui-view="tutkinnonosaryhma")
  div(ng-if="osa.tyyppi === 'suorituspolut'"     ui-view="suorituspolut")
  div(ng-if="osa.tyyppi === 'suorituspolku'"     ui-view="suorituspolku")

  div(style="margin-top: 60px" ng-hide="$$ekEditing")
    hr
    div(ui-view="kommentointi")
