.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:first-child > th {
  background-color: ghostwhite;
  border: 3px dashed #DADFE3
}


button.btn-small-margin-left {
  margin-left: 5px;
}

.table.kasitteet-table {
  td {
    vertical-align: middle !important;
  }
  p {
    margin: 0px;
  }
}

.modal-dialogue > .modal-body > .form > .form-group.ckeditor-input-top-margin {
  margin-top: 30px;
}

.kasite-checkbox {
  label {
    input[type="radio"], input[type="checkbox"] {
      top: 3px;
    }
  }
}