.breadcrumb {
  padding: $breadcrumb-padding-vertical 0;
  margin-bottom: 0;
  background-color: transparent;

  > li {
    display: inline-block;
    a {
      color: #939598;
    }

  }

  > .active {
    color: $breadcrumb-active-color;
  }
}
