$ops-ylatunniste-height: 60px;
$ops-ylatunniste-padding: 5px;
$ops-muokkaa-height: $ops-ylatunniste-height - 2 * $ops-ylatunniste-padding;
$ops-muokkaa-ikoni-height: 30px;
$ops-sivunavi-width: 280px;
$ops-haku-padding: 5px;
$ops-valikko-min-height: 600px;
$ops-top-vertical-margin: 10px;

.ops-nakyma {
    .ylatunniste {
        background-color: #f3fafd; // FIXME
        height: $ops-ylatunniste-height;
        padding: $ops-ylatunniste-padding;

        .muokkaa {
            width: $ops-muokkaa-height;
            height: $ops-muokkaa-height;

            i {
                width: $ops-muokkaa-height;
                height: $ops-muokkaa-height;
                text-align: center;
                padding-top: ($ops-muokkaa-height - $ops-muokkaa-ikoni-height) / 2;
                font-size: $ops-muokkaa-ikoni-height;
                text-decoration: none;
                color: white;
            }
        }

        h2 {
            display: inline;
            margin: 0 0 0 20px;
            a {
                margin-right: 10px;
                i {
                    color: #10546d;
                    text-decoration: none;
                }
                i:hover {
                    color: #1982aa;
                }
            }
        }

        .peruste-nimi {
            position: relative;
            top: 8px;
            margin: 0 0 0 20px;

            p {
                color: #999;
            }
        }

        .painikkeet {
            height: $ops-muokkaa-height;
            button {
                margin-right: 5px;
            }
            .keskitetty {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .tabit {
        margin-top: 10px;

        .nav.nav-tabs {
            li {
                margin-right: 4px;
            }
            li > a {
                background: #f1f9fc;
            }
            li > a:hover {
                cursor: pointer;
            }

            li.active > a {
                background: #fff;
                font-weight: normal;
            }
        }
    }

    .sisalto {
        .sivunavi {
            .haku {
                margin-bottom: $ops-top-vertical-margin;

                .form-inline {
                    .form-group {
                        display: inline-block;
                        margin-bottom: 0;
                        vertical-align: middle;
                    }

                    .form-control {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                input {
                    width: $ops-sivunavi-width - 2 * ($input-height-base + $ops-haku-padding) - $ops-haku-padding;
                }

                button {
                    width: $input-height-base;
                    height: $input-height-base;
                    margin-left: $ops-haku-padding;
                    text-decoration: none;
                    i {
                        text-decoration: none;
                    }
                }
            }

            .valikko {
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    border: 1px solid #DEDEDF;
                    min-height: $ops-valikko-min-height;
                    li {
                        padding: 0;
                        a {
                            margin: 0;
                            display: block;
                            width: 100%;
                            height: 100%;
                            padding: 10px;
                        }
                        .active {
                            background-color: #135870;
                            color: white;
                        }
                    }
                }
            }
        }

        .nakyma {
            .vasen {
                padding: 8px 0 4px 14px;
                width: 290px;
                position: absolute;
                bottom: 0;
                top: 0;
                height: 100%;
                z-index: 1;
            }

            .oikea {
                padding-left:  300px;
            }

            margin-top: $ops-top-vertical-margin;

            .content {
                // float: left;
            }

            .ylapalkki {
                height: $input-height-base + $ops-top-vertical-margin;
                border-bottom: 1px solid #DEDEDF;

                p {
                    line-height: $input-height-base;
                    display: inline;
                    margin-right: 25px;
                    span {
                        color: gray;
                        b {
                            margin-right: 5px;
                        }
                    }
                }
                p:last-child {
                    margin-right: 0;
                }

                input {
                    width: 47px;
                }

                .muokkaa {
                    margin-left: 25px;
                }
                a {
                    width: $input-height-base;
                    height: $input-height-base;
                    text-decoration: none;
                    i {
                        text-decoration: none;
                    }
                }
            }

            .tiedot {
                .tekstit {
                    margin: 0 -1 * ($grid-gutter-width / 2);
                    span {
                        color: gray;
                    }
                }
            }

            .tekstikappaleet {
                .perusteteksti {
                    background-color: #efeff9;
                    padding: 5px 5px 2px 5px;
                    margin-bottom: 15px;
                }

                .ohjeteksti {
                    background-color: #e2fff0;
                    padding: 5px 5px 2px 5px;
                    margin-bottom: 5px;
                }

                h2, h3, h4, h5, h6 {
                    padding-left: 30px;
                    margin-top: 10px;
                    position: relative;
                    a {
                        position: absolute;
                        text-decoration: none;
                        left: 0;
                        i {
                            text-decoration: none;
                            color: #a1cbdc;
                        }
                    }

                }
                .tkv-valinnat {
                    float: right;
                    position: relative;
                    top: 10px;
                    margin: 0;
                    padding: 0;
                    height: 0;

                    .tkv-valinta {
                        float: left;
                        margin-right: 26px;
                    }
                }
                .tekstikappale {
                    margin-left: 30px;
                }

                .kommentointi {
                    & > a {
                        font-size: 18px;
                        &, span, i {
                            text-decoration: none;
                        }
                    }
                    .kommentti {
                        background-color: #f6f6f6;
                        border-bottom: 1px solid #149ecb;
                        margin-top: 10px;
                        padding-bottom: 10px;
                        overflow: auto;

                        .kommentti-avatar {
                            background-color: #ddd;
                            float: left;
                            width: 64px;
                            height: 64px;
                            margin: 10px;

                            .nimikirjain-avatar {
                                text-align: center;
                                line-height: 64px;
                                font-weight: 700;
                                font-size: 32px;
                                text-transform: uppercase;
                            }
                        }
                        .kommentti-painikkeet {
                            float: right;
                            margin-top: 10px;
                            margin-right: 10px;
                            & > a {
                                margin-left: 10px;
                                text-decoration: none;
                                i {
                                    font-size: 20px;
                                    text-decoration: none;
                                }
                            }
                        }
                        .kommentti-sisalto {
                            margin-right: 10px;
                            margin-left: 84px;

                            .kommentti-muokattu {

                            }
                            .kommentti-nimi {
                                font-size: 18px;
                                margin-top: 10px;
                                margin-bottom: 0;
                                font-weight: 500;
                                line-height: 1;
                            }
                            .kommentti-teksti {
                                word-break: break-all;

                                button {
                                    margin-top: 5px;
                                    margin-left: 5px;
                                }
                            }
                        }
                        .kommentti-footer {
                            margin: 0;
                        }
                    }
                    .kommentti-textarea {
                        resize: vertical;
                        min-height: 100px;
                        &:hover {
                            background-color: white;
                        }
                    }
                    .kommentti-ylitys {
                        color: #a94442;
                    }
                    .kommentti-uusi {
                        button {
                            margin-top: 5px;
                            margin-left: 5px;
                        }
                    }
                    .kommentti-lapsi {
                        margin-left: 60px;
                    }
                    .kommentti-vastaa {
                        clear: both;
                        background-color: #f6f6f6;
                        padding: 10px;
                        display: block;

                        button {
                            margin-top: 5px;
                            margin-left: 5px;
                        }

                    }
                    .inactive {
                        color: gray;
                        pointer-events: none;
                        cursor: default;
                    }
                }
            }
        }
    }

    .kasitteet {
        margin-top: $ops-top-vertical-margin;
        h2:first-child {
            margin-top: 0;
            span {
                margin-top: -8px;
            }
        }
    }

    .poistetut {
        margin-top: $ops-top-vertical-margin;
        h2:first-child {
            margin-top: 0;
            span {
                margin-top: -8px;
            }
        }

        table {
            a, a > span {
                text-decoration: none;

            }
            td:nth-child(1) {
                width: 40%;
            }
            td:nth-child(2) {
                width: 20%;
            }
            td:nth-child(3) {
                width: 25%;
            }
            td:nth-child(4) {
                width: 15%;
            }
        }
    }
    .dokumentti {
        margin-top: $ops-top-vertical-margin;

        .row:first-child > * > h2 {
            margin-top: 0;
            span {
                margin-top: -8px;
            }
        }
        .tiedot {
            & > span {
                margin-right: 25px;
                display: inline;
            }
        }
    }
}
