$tiedoite-height: 50px;
$tiedoite-vertical-padding: 5px;
$tiedoite-border: 1px;
$tiedoite-row-gap: 4px;

table.tiedote-author-date td {
  color: #808080;
  &:first-child {
    padding-left: 0px;
  }
  &:nth-child(2) {
    padding-right: 10px;
  }
  &.has-muokkaaja {
    border-right: 1px solid lightgrey;
  }
  &:nth-child(3){
    padding-left: 10px;
  }
  padding-left: 5px;
}

.btn-small-margin-top {
  margin-top: 5px;
}

.tiedote-editing-btn {
  margin-bottom: 5px;
}

.add-tiedote-form {

  margin-bottom: 10px;

  .uusi-tiedote {

    .uusi-tiedote-laatikko {
      border: 1px dashed lightgray;
      background-color: #f3fafd;
      position: relative;
      padding: 10px;

      .checkbox.abc-checkbox {
        margin-left: 15px;
      }

      .controls-padding-right {
        padding-right: 30px;
      }
    }

  }
}

.tiedotteet {
  margin-bottom: 10px;

  .tiedote {

    &:not(:first-child) {
      margin-top: $tiedoite-row-gap;
    }

    .tiedote-laatikko {
      border: 1px solid lightgray;
      //height: $tiedoite-height;
      background-color: #f3fafd;
      position: relative;


      .icon {
        padding: 0 10px;
        i {
          font-size: 18px;
          margin-top: ($tiedoite-height - 20px) / 2;
          width: 20px;
          height: 20px;
        }
      }

      // Right dismiss button
      a {
        vertical-align: middle;
        //border-left: 1px solid lightgray;
        height: 100%;
        padding: 0 10px 0 10px;

        & > span {
          font-size: 18px;
          text-decoration: none;
          line-height: $tiedoite-height - 2 * $tiedoite-border;
          color: #6E9BAA;
        }
      }

      // Content
      .tiedote-otsikko {
        padding: $tiedoite-vertical-padding;

        p {
          margin-bottom: 0;
          &:last-child {
            color: gray;
          }
        }
      }

      .tiedote-sisalto {
        padding: 0 40px;
        padding-bottom: 10px;
        &.muokkaaja {
          padding-top: 10px;
        }
        &.abc-checkbox {
          margin-left: 20px;
        }
      }

      .tiedote-otsikko-editointi {
        padding: 0 40px;
        padding-bottom: 10px;
        padding-top: 10px;
      }

      // Expand text
      .expand {
        position: relative;

        & > a {
          text-decoration: none;
          position: absolute;
          top: -18px;
          left: 50%;
          transform: translateX(-50%);
          width: 80px;
          text-align: center;
          font-size: 20px;

          i {
            color: gray;
            text-decoration: none;
          }
        }
      }
    }
  }
}
