$yhteiset-ylatunniste-height: 60px;
$yhteiset-ylatunniste-padding: 5px;
$yhteiser-muokkaa-height: $yhteiset-ylatunniste-height - 2 * $yhteiset-ylatunniste-padding;
$yhteiset-muokkaa-ikoni-height: 30px;
$yhteiset-sivunavi-width: 280px;
$yhteiset-haku-padding: 5px;
$yhteiset-valikko-min-height: 600px;
$yhteiset-top-vertical-margin: 10px;

.yhteiset-nakyma {
    .ylatunniste {
        background-color: #f3fafd;
        height: $yhteiset-ylatunniste-height;
        padding: $yhteiset-ylatunniste-padding;

        .muokkaa {
            width: $yhteiser-muokkaa-height;
            height: $yhteiser-muokkaa-height;
            background-color: #fcae27;

            i {
                width: $yhteiser-muokkaa-height;
                height: $yhteiser-muokkaa-height;
                text-align: center;
                padding-top: ($yhteiser-muokkaa-height - $yhteiset-muokkaa-ikoni-height) / 2;
                font-size: $yhteiset-muokkaa-ikoni-height;
                text-decoration: none;
                color: white;
            }
        }

        h2 {
            display: inline;
            margin: 0 0 0 20px;
            a {
                margin-right: 10px;
                i {
                    color: #10546d;
                    text-decoration: none;
                }
                i:hover {
                    color: #1982aa;
                }
            }
        }

        .painikkeet {
            height: $yhteiser-muokkaa-height;
            button {
                margin-right: 5px;
            }
            .keskitetty {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .tabit {
        margin-top: 10px;

        .nav.nav-tabs {
            li {
                margin-right: 10px;
            }
            li > a {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                background: #f1f9fc;
            }
            li > a:hover {
                cursor: pointer;
            }

            li.active > a {
                background: #fff;
                font-weight: normal;
            }
        }
    }

    .sisalto {
        .col-fixed-nav {
            width: $yhteiset-sivunavi-width;
        }
        .col-offset-nav {
            margin-left: $yhteiset-sivunavi-width + $grid-gutter-width / 2;
        }

        .sivunavi {
            .haku {
                margin-bottom: $yhteiset-top-vertical-margin;

                .form-inline {
                    .form-group {
                        display: inline-block;
                        margin-bottom: 0;
                        vertical-align: middle;
                    }

                    .form-control {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                input {
                    width: $yhteiset-sivunavi-width - 2 * ($input-height-base + $yhteiset-haku-padding) - $yhteiset-haku-padding;
                }

                a {
                    width: $input-height-base;
                    height: $input-height-base;
                    margin-left: $yhteiset-haku-padding;
                    text-decoration: none;
                    i {
                        text-decoration: none;
                    }
                }
            }

            .valikko {
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    border: 1px solid #DEDEDF;
                    min-height: $yhteiset-valikko-min-height;
                    li {
                        padding: 0;
                        a {
                            margin: 0;
                            display: block;
                            width: 100%;
                            height: 100%;
                            padding: 10px;
                        }
                        .active {
                            background-color: #135870;
                            color: white;
                        }
                    }
                }
            }
        }

        .nakyma {
            margin-top: $yhteiset-top-vertical-margin;

            .ylapalkki {
                height: $input-height-base + $yhteiset-top-vertical-margin;
                border-bottom: 1px solid #DEDEDF;

                p {
                    line-height: $input-height-base;
                    display: inline;
                    margin-right: 25px;
                    span {
                        color: gray;
                        b {
                            margin-right: 5px;
                        }
                    }
                }
                p:last-child {
                    margin-right: 0;
                }

                input {
                    width: 47px;
                }

                .muokkaa {
                    margin-left: 25px;
                }
                a {
                    width: $input-height-base;
                    height: $input-height-base;
                    text-decoration: none;
                    i {
                        text-decoration: none;
                    }
                }
            }

            .tiedot {
                .tekstit {
                    margin: 0 -1 * ($grid-gutter-width / 2);
                    span {
                        color: gray;
                    }
                }
            }

            .tekstikappale {
                h1, h2, h3, h4, h5, h6 {
                    padding-left: 30px;
                    margin-top: 10px;
                    position: relative;
                    a {
                        position: absolute;
                        text-decoration: none;
                        left: 0;
                        i {
                            text-decoration: none;
                            color: #a1cbdc;
                        }
                    }
                }
                p {
                    padding-left: 30px;
                }
            }
        }
    }

    .kasitteet {
        margin-top: $yhteiset-top-vertical-margin;
        h2 {
            margin-top: 0;
            span {
                margin-top: -8px;
            }
        }
    }

    .poistetut {
        margin-top: $yhteiset-top-vertical-margin;
        h2 {
            margin-top: 0;
            span {
                margin-top: -8px;
            }
        }

        table {
            a, a > span {
                text-decoration: none;

            }
            td:nth-child(1) {
                width: 40%;
            }
            td:nth-child(2) {
                width: 20%;
            }
            td:nth-child(3) {
                width: 25%;
            }
            td:nth-child(4) {
                width: 15%;
            }
        }
    }
}
