.ylanavi {
    .ohje {
        margin: 5px;
        position: relative;
        top: 4px;
        right: 10px;
    }

    .kielivalitsin {
        position: relative;
        top: 5px;
        right: -2px;
    }
}

.ylanavi-sticky {
    & > .ylanavi {
        background-color: #FFFFFF;
        z-index: 1000;
        box-shadow: 0 4px 2px -3px gray;
    }
}
