$arviointi-vari: #199dd0;
$arviointi-padding: 5px;

.tutkinnonosa {
    .arviointi {
        border: 1px solid $arviointi-vari;
        margin-bottom: 10px;

        .arviointi-otsikko {
            background: $arviointi-vari;
            color: white;
            padding: $arviointi-padding;
            height: 50px;

            h3 {
                margin-top: 10px;
                margin-bottom: 10px;
                a {
                    color: #135870;
                    margin-right: 10px;
                    &:hover {
                        color: white;
                    }

                    i {
                        text-decoration: none;
                    }
                }
            }
            .input-group {
                margin-top: 3px;

                .input-group-addon {
                    cursor: pointer;
                    &:hover {
                        background-color: #dddddd;
                    }
                }
            }
        }
        .arviointi-sisalto {
            h4 {
                font-weight: bold;
            }
            a {
                padding: $arviointi-padding;
                &, span, i {
                    text-decoration: none;
                }
            }
        }
    }

    .arviointi-kohdealueet {
        min-height: 2em;

        .arviointi-kohteet {
            min-height: 2em;
            .arviointi-kohde {
                padding: $arviointi-padding;

                .painikkeet {
                    & > span {
                        margin-left: 10px;
                    }
                    .linkki {
                        cursor: pointer;
                    }
                }
                table {
                    tr {
                        td:first-child {
                            width: 33.3%;
                        }
                    }
                }
            }

            .sortable-item-placeholder {
                margin-bottom: 20px;
            }
        }
    }

    .sortable-item-handle {
        cursor: move;
    }

    .sortable-item-placeholder {
        background-color: #f3fafd;
        height: 60px;
        border: 2px dashed gray;
        margin-bottom: 10px;
    }

    .ui-sortable-helper {
        background-color: white;
        opacity: 0.4;
    }
}
