{"openapi":"3.0.1","info":{"description":"Spring MVC API based on the swagger 3.0 specification","license":{"name":"EUPL 1.1","url":"https://interoperable-europe.ec.europa.eu/licence/european-union-public-licence-version-11-or-later-eupl"},"title":"ePerusteet TOTSU-työkalu rajapinta","version":"v3.0.0"},"servers":[{"url":"https://virkailija.opintopolku.fi/eperusteet-amosaa-service","description":"ePerusteet TOTSU-työkalu API"}],"tags":[{"description":"Tiedotteiden hallinta","name":"Tiedotteet"}],"paths":{"/api/arviointiasteikot":{"get":{"operationId":"getAllArviointiasteikot","responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ArviointiasteikkoDto"}}}},"description":"OK"}},"tags":["Arviointiasteikot"]}},"/api/arviointiasteikot/update":{"get":{"operationId":"updateArviointiasteikko","responses":{"200":{"description":"OK"}},"tags":["Arviointiasteikot"]}},"/api/arviointiasteikot/{id}":{"get":{"operationId":"getArviointiasteikko","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ArviointiasteikkoDto"}}},"description":"OK"}},"tags":["Arviointiasteikot"]}},"/api/batch":{"get":{"operationId":"getBatchStepExecution","responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BatchStepExecution"}}}},"description":"OK"}},"tags":["batch"]}},"/api/batch/{job}":{"get":{"operationId":"kaynnistaJob","parameters":[{"in":"path","name":"job","required":true,"schema":{"type":"string"}},{"in":"query","name":"julkaisutarkistus","required":false,"schema":{"type":"string","default":"JULKAISTUT"}},{"in":"query","name":"koulutustyypit","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"in":"query","name":"opstyyppi","required":false,"schema":{"type":"string","default":"ops"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"string"}}},"description":"OK"}},"tags":["batch"]}},"/api/dokumentit/pdf/data/{dokumenttiId}":{"post":{"operationId":"savePdfData","parameters":[{"in":"path","name":"dokumenttiId","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PdfData"}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"type":"string"}}},"description":"OK"}},"tags":["Dokumentit"]}},"/api/dokumentit/pdf/tila/{dokumenttiId}":{"post":{"operationId":"updateDokumenttiTila","parameters":[{"in":"path","name":"dokumenttiId","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PdfData"}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"type":"string"}}},"description":"OK"}},"tags":["Dokumentit"]}},"/api/external/opetussuunnitelma/{koulutustoimijaId}/{opsId}":{"get":{"operationId":"getPublicOpetussuunnitelmaKoulutustoimija","parameters":[{"in":"path","name":"koulutustoimijaId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/OpetussuunnitelmaKaikkiDto"}}},"description":"OK"}},"summary":"Opetussuunnitelman tietojen haku koulutustoimijan ja opetussuunnitelman id:llä","tags":["external"]}},"/api/external/opetussuunnitelma/{opsId}":{"get":{"operationId":"getPublicOpetussuunnitelma","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/OpetussuunnitelmaKaikkiDto"}}},"description":"OK"}},"summary":"Opetussuunnitelman tietojen haku","tags":["external"]}},"/api/external/opetussuunnitelma/{opsId}/{custompath}":{"get":{"description":"Url parametreiksi voi antaa opetussuunnitelman id:n lisäksi erilaisia opetussuunnitelman rakenteen osia ja id-kenttien arvoja. Esim. /opetussuunnitelma/8505691/tutkinnonOsat/7283253/tosa antaa opetussuunnitelman (id: 8505691) tutkinnon osien tietueen (id: 7283253).","operationId":"getOpetussuunnitelmaDynamicQuery","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"custompath","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpetussuunnitelmaKaikkiDto"}}},"description":"OK"}},"summary":"Opetussuunnitelman tietojen haku tarkalla sisältörakenteella","tags":["external"]}},"/api/external/opetussuunnitelmat":{"get":{"operationId":"getPublicOpetussuunnitelmat","parameters":[{"in":"query","name":"perusteenDiaarinumero","schema":{"type":"string"}},{"in":"query","name":"perusteId","schema":{"type":"integer","format":"int64"}},{"in":"query","name":"organisaatio","schema":{"type":"string"}},{"in":"query","name":"tyyppi","schema":{"type":"array","items":{"type":"string"}}},{"description":"Sivunumero (0 perusarvo)","in":"query","name":"sivu","schema":{"type":"integer","format":"int64"}},{"in":"query","name":"sivukoko","schema":{"type":"integer","format":"int64"}},{"in":"query","name":"nimi","schema":{"type":"string"}},{"in":"query","name":"kieli","schema":{"type":"string"}},{"in":"query","name":"oppilaitosTyyppiKoodiUri","schema":{"type":"string"}},{"in":"query","name":"koulutustyyppi","schema":{"type":"array","items":{"type":"string"}}},{"in":"query","name":"tuleva","schema":{"type":"boolean"}},{"in":"query","name":"voimassaolo","schema":{"type":"boolean"}},{"in":"query","name":"poistunut","schema":{"type":"boolean"}},{"in":"query","name":"jotpatyyppi","schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/PageOpetussuunnitelmaDto"}}},"description":"OK"}},"tags":["external"]}},"/api/external/opintokokonaisuus/{koodiArvo}":{"get":{"operationId":"getPublicOpintokokonaisuusKoodilla","parameters":[{"in":"path","name":"koodiArvo","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SisaltoviiteOpintokokonaisuusExternalDto"}}},"description":"OK"}},"summary":"Opintokokonaisuuden haku opintokokonaisuuden koodin arvolla","tags":["external"]}},"/api/julkinen/kaikkijulkaistut":{"get":{"operationId":"getKaikkiJulkaistutOpetussuunnitelmat","responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OpetussuunnitelmaDto"}}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/koodi/{koodi}":{"get":{"operationId":"getSisaltoViiteByKoodi","parameters":[{"in":"path","name":"koodi","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SisaltoViiteSijaintiDto"}}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/koulutustoimija/vst/oppilaitostyypi":{"get":{"operationId":"getVstYksilollisetOppilaitostyypit","responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KoodistoKoodiDto"}}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/koulutustoimijat":{"get":{"operationId":"findKoulutustoimijat","parameters":[{"in":"query","name":"sivu","schema":{"type":"integer","format":"int64"}},{"in":"query","name":"sivukoko","schema":{"type":"integer","format":"int64"}},{"in":"query","name":"nimi","schema":{"type":"string"}},{"in":"query","name":"organisaatioRyhma","schema":{"type":"boolean"}},{"in":"query","name":"koulutustyyppi","schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageKoulutustoimijaJulkinenDto"}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/koulutustoimijat/koulutystyypilla":{"get":{"operationId":"findKoulutusatyypinKoulutustoimijat","parameters":[{"in":"query","name":"koulutustyypit","required":true,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KoulutustoimijaJulkinenDto"}}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/koulutustoimijat/org/{ktOid}":{"get":{"operationId":"getKoulutustoimijaByOid","parameters":[{"in":"path","name":"ktOid","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/KoulutustoimijaJulkinenDto"}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/koulutustoimijat/{ktId}":{"get":{"operationId":"getKoulutustoimijaByKtId","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/KoulutustoimijaJulkinenDto"}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/koulutustoimijat/{ktId}/koodi/{koodi}":{"get":{"operationId":"getByKoodi","parameters":[{"in":"path","name":"koodi","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SisaltoViiteSijaintiDto"}}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/koulutustoimijat/{ktId}/opetussuunnitelmat":{"get":{"operationId":"getAllOpetussuunnitelmat","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OpetussuunnitelmaDto"}}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}":{"get":{"operationId":"getOpetussuunnitelmaJulkinen","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/OpetussuunnitelmaDto"}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/dokumentti":{"get":{"operationId":"getDokumentti","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"kieli","required":true,"schema":{"type":"string"}},{"in":"query","name":"dokumenttiId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/pdf":{"schema":{"type":"object"}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/dokumentti/julkaistu":{"get":{"operationId":"getJulkaistuDokumentti","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"kieli","required":true,"schema":{"type":"string"}},{"in":"query","name":"revision","required":false,"schema":{"type":"integer","format":"int32"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/DokumenttiDto"}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/dokumentti/tila":{"get":{"operationId":"queryDokumentti","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"kieli","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/DokumenttiDto"}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/julkaisu":{"get":{"operationId":"getOpetussuunnitelmaJulkaistuSisalto","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"esikatselu","required":false,"schema":{"type":"boolean"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/OpetussuunnitelmaKaikkiDto"}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/kaikki":{"get":{"operationId":"getOpetussuunnitelmaKaikki","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/OpetussuunnitelmaKaikkiDto"}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/otsikot":{"get":{"operationId":"getOpetussuunnitelmaOtsikot","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SisaltoViiteKevytDto"}}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/tekstit/{svId}":{"get":{"operationId":"getOpetussuunnitelmaTekstit","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"svId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/Matala"}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/koulutustoimijat/{ktId}/tiedotteet":{"get":{"operationId":"getJulkisetTiedotteet","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TiedoteDto"}}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/opetussuunnitelmat":{"get":{"operationId":"findOpetussuunnitelmat","parameters":[{"in":"query","name":"perusteenDiaarinumero","schema":{"type":"string"}},{"in":"query","name":"perusteId","schema":{"type":"integer","format":"int64"}},{"in":"query","name":"organisaatio","schema":{"type":"string"}},{"in":"query","name":"tyyppi","schema":{"type":"array","items":{"type":"string"}}},{"in":"query","name":"sivu","schema":{"type":"integer","format":"int64"}},{"in":"query","name":"sivukoko","schema":{"type":"integer","format":"int64"}},{"in":"query","name":"nimi","schema":{"type":"string"}},{"in":"query","name":"kieli","schema":{"type":"string"}},{"in":"query","name":"organisaatioRyhma","schema":{"type":"boolean"}},{"in":"query","name":"oppilaitosTyyppiKoodiUri","schema":{"type":"string"}},{"in":"query","name":"koulutustyyppi","schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageOpetussuunnitelmaDto"}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/opetussuunnitelmat/julkaisut":{"get":{"operationId":"findOpetussuunnitelmatJulkaisut","parameters":[{"in":"query","name":"perusteenDiaarinumero","schema":{"type":"string"}},{"in":"query","name":"perusteId","schema":{"type":"integer","format":"int64"}},{"in":"query","name":"organisaatio","schema":{"type":"string"}},{"in":"query","name":"tyyppi","schema":{"type":"array","items":{"type":"string"}}},{"in":"query","name":"sivu","schema":{"type":"integer","format":"int64"}},{"in":"query","name":"sivukoko","schema":{"type":"integer","format":"int64"}},{"in":"query","name":"nimi","schema":{"type":"string"}},{"in":"query","name":"kieli","schema":{"type":"string"}},{"in":"query","name":"oppilaitosTyyppiKoodiUri","schema":{"type":"string"}},{"in":"query","name":"koulutustyyppi","schema":{"type":"array","items":{"type":"string"}}},{"in":"query","name":"tuleva","schema":{"type":"boolean"}},{"in":"query","name":"voimassaolo","schema":{"type":"boolean"}},{"in":"query","name":"poistunut","schema":{"type":"boolean"}},{"in":"query","name":"jotpatyyppi","schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageOpetussuunnitelmaDto"}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/opetussuunnitelmat/{opsId}/koulutustoimija":{"get":{"operationId":"getOpetussuunnitelmanToimija","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/KoulutustoimijaJulkinenDto"}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/perusteenopetussuunnitelmat":{"get":{"operationId":"getPerusteenOpetussuunnitelmat","parameters":[{"in":"query","name":"perusteenDiaarinumero","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OpetussuunnitelmaJulkinenDto"}}}},"description":"OK"}},"tags":["julkinen"]}},"/api/julkinen/tutkinnonosat/{koodi}":{"get":{"operationId":"getTutkinnonOsa","parameters":[{"in":"path","name":"koodi","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/SisaltoViiteDto"}}},"description":"OK"}},"tags":["julkinen"]}},"/api/kayttaja":{"get":{"operationId":"get_4","responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/KayttajanTietoDto"}}},"description":"OK"}},"tags":["kayttaja"]}},"/api/kayttaja/etusivu":{"get":{"operationId":"getKayttajanEtusivu","parameters":[{"in":"query","name":"app","required":false,"schema":{"type":"string","default":"ROLE_APP_EPERUSTEET_AMOSAA"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/EtusivuDto"}}},"description":"OK"}},"tags":["kayttaja"]}},"/api/kayttaja/koulutustoimijaoikeudet":{"get":{"operationId":"getKoulutustoimijaOikeudet","parameters":[{"in":"query","name":"app","required":false,"schema":{"type":"string","default":"ROLE_APP_EPERUSTEET_AMOSAA"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"object","additionalProperties":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/KoulutustoimijaBaseDto"}}}}},"description":"OK"}},"tags":["kayttajaoikeudet"]}},"/api/kayttaja/koulutustoimijat":{"get":{"operationId":"getKoulutustoimijat","parameters":[{"in":"query","name":"app","required":false,"schema":{"type":"string","default":"ROLE_APP_EPERUSTEET_AMOSAA"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KoulutustoimijaBaseDto"}}}},"description":"OK"}},"tags":["kayttaja"]},"post":{"operationId":"updateKoulutustoimijat","parameters":[{"in":"query","name":"app","required":false,"schema":{"type":"string","default":"ROLE_APP_EPERUSTEET_AMOSAA"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"string"}}},"description":"OK"}},"tags":["kayttaja"]}},"/api/kayttaja/oikeudet":{"get":{"operationId":"getTyoryhmat","responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KayttajaoikeusDto"}}}},"description":"OK"}},"tags":["kayttajaoikeudet"]}},"/api/kayttaja/organisaatiooikeudet":{"get":{"operationId":"getOikeudet","parameters":[{"in":"query","name":"app","required":false,"schema":{"type":"string","default":"ROLE_APP_EPERUSTEET_AMOSAA"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"object","additionalProperties":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}}}},"description":"OK"}},"tags":["kayttajaoikeudet"]}},"/api/kayttaja/organisaatiot":{"get":{"operationId":"getOrganisaatiot","parameters":[{"in":"query","name":"app","required":false,"schema":{"type":"string","default":"ROLE_APP_EPERUSTEET_AMOSAA"}}],"responses":{"200":{"content":{"*/*":{"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}},"description":"OK"}},"tags":["kayttaja"]}},"/api/kayttaja/suosikki/{opsId}":{"delete":{"operationId":"removeSuosikki","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"string"}}},"description":"OK"}},"tags":["kayttaja"]},"post":{"operationId":"addSuosikki","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"string"}}},"description":"OK"}},"tags":["kayttaja"]}},"/api/kayttaja/tiedot":{"get":{"operationId":"getKayttaja","responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/KayttajaDto"}}},"description":"OK"}},"tags":["kayttaja"]}},"/api/kayttaja/{oid}":{"post":{"operationId":"getOrSaveKayttaja","parameters":[{"in":"path","name":"oid","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/KayttajaDto"}}},"description":"OK"}},"tags":["kayttaja"]}},"/api/koodisto/relaatio/sisaltyy-alakoodit/{koodi}":{"get":{"operationId":"getKoodiAlarelaatio","parameters":[{"in":"path","name":"koodi","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KoodistoKoodiDto"}}}},"description":"OK"}},"tags":["Koodistot"]}},"/api/koodisto/relaatio/sisaltyy-ylakoodit/{koodi}":{"get":{"operationId":"getKoodiYlarelaatio","parameters":[{"in":"path","name":"koodi","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KoodistoKoodiDto"}}}},"description":"OK"}},"tags":["Koodistot"]}},"/api/koodisto/uri/{koodiUri}":{"get":{"operationId":"getKoodistoKoodiByUri","parameters":[{"in":"path","name":"koodiUri","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/KoodistoKoodiDto"}}},"description":"OK"}},"tags":["Koodistot"]}},"/api/koodisto/{koodisto}":{"get":{"operationId":"getKoodistoKaikki","parameters":[{"in":"path","name":"koodisto","required":true,"schema":{"type":"string"}},{"in":"query","name":"haku","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KoodistoKoodiDto"}}}},"description":"OK"}},"tags":["Koodistot"]}},"/api/koodisto/{koodisto}/haku/{query}":{"get":{"operationId":"queryKoodist","parameters":[{"in":"path","name":"koodisto","required":true,"schema":{"type":"string"}},{"in":"path","name":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KoodistoKoodiDto"}}}},"description":"OK"}},"tags":["Koodistot"]}},"/api/koodisto/{koodisto}/{koodi}":{"get":{"operationId":"getKoodistoYksi","parameters":[{"in":"path","name":"koodisto","required":true,"schema":{"type":"string"}},{"in":"path","name":"koodi","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/KoodistoKoodiDto"}}},"description":"OK"}},"tags":["Koodistot"]}},"/api/koulutustoimijat/koulutuksenjarjestajat":{"get":{"operationId":"getKoulutuksenJarjestajat","responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KoulutustoimijaDto"}}}},"description":"OK"}},"tags":["koulutustoimijat"]}},"/api/koulutustoimijat/{ktId}":{"get":{"operationId":"getKoulutustoimija","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/KoulutustoimijaDto"}}},"description":"OK"}},"tags":["koulutustoimijat"]},"put":{"operationId":"updateKoulutustoimija","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KoulutustoimijaDto"}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/KoulutustoimijaDto"}}},"description":"OK"}},"tags":["koulutustoimijat"]}},"/api/koulutustoimijat/{ktId}/etusivu":{"get":{"operationId":"getEtusivu","parameters":[{"in":"query","name":"koulutustyypit","required":true,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/EtusivuDto"}}},"description":"OK"}},"tags":["koulutustoimijat"]}},"/api/koulutustoimijat/{ktId}/hierarkia":{"get":{"operationId":"getHierarkia","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrganisaatioHierarkiaDto"}}},"description":"OK"}},"tags":["koulutustoimijat"]}},"/api/koulutustoimijat/{ktId}/historialiitokset":{"get":{"operationId":"getOrganisaatioHistoriaLiitokset","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrganisaatioHistoriaLiitosDto"}}}},"description":"OK"}},"tags":["koulutustoimijat"]}},"/api/koulutustoimijat/{ktId}/hylkaa/{vierasKtId}":{"delete":{"operationId":"hylkaaYhteistyopyynto","parameters":[{"in":"path","name":"vierasKtId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"tags":["koulutustoimijat"]}},"/api/koulutustoimijat/{ktId}/kaikkiKayttajat":{"get":{"operationId":"getKaikkiKayttajat","parameters":[{"in":"query","name":"app","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KayttajaKtoDto"}}}},"description":"OK"}},"tags":["koulutustoimijat"]}},"/api/koulutustoimijat/{ktId}/kayttajat":{"get":{"operationId":"getKoulutustoimijaKayttajat","parameters":[{"in":"query","name":"app","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KayttajaKtoDto"}}}},"description":"OK"}},"tags":["koulutustoimijat"]}},"/api/koulutustoimijat/{ktId}/kayttajat/{kayttajaOid}":{"get":{"operationId":"getKoulutustoimijaKayttaja","parameters":[{"in":"path","name":"kayttajaOid","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/KayttajanTietoDto"}}},"description":"OK"}},"tags":["koulutustoimijat"]}},"/api/koulutustoimijat/{ktId}/koodi/{koodi}":{"get":{"operationId":"getKoulutustoimijaByKoodi","parameters":[{"in":"path","name":"koodi","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SisaltoViiteSijaintiDto"}}}},"description":"OK"}},"tags":["koulutustoimijat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelma/{opsId}/aikataulu":{"get":{"operationId":"getOpetussuunnitelmanAikataulut","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OpetussuunnitelmaAikatauluDto"}}}},"description":"OK"}},"tags":["Aikataulut"]},"put":{"operationId":"updateOpetussuunnitelmanAikataulut","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OpetussuunnitelmaAikatauluDto"}}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OpetussuunnitelmaAikatauluDto"}}}},"description":"OK"}},"tags":["Aikataulut"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelma/{opsId}/muokkaustieto":{"get":{"operationId":"getPerusteenMuokkausTiedotWithLuomisaika","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"viimeisinLuomisaika","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"lukumaara","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OpetussuunnitelmaMuokkaustietoDto"}}}},"description":"OK"}},"tags":["Muokkaustieto"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat":{"get":{"operationId":"getAllOpetussuunnitelmatBaseSivutettu","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageOpetussuunnitelmaBaseDto"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]},"post":{"operationId":"addOpetussuunnitelma","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpetussuunnitelmaLuontiDto"}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/OpetussuunnitelmaBaseDto"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/info":{"get":{"operationId":"getAllOpetussuunnitelmatSivutettu","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageOpetussuunnitelmaDto"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/kaikki":{"get":{"operationId":"getKaikkiOpetussuunnitelmat","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageOpetussuunnitelmaListausDto"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/koulutustoimija":{"get":{"operationId":"getKoulutustoimijaOpetussuunnitelmat","parameters":[{"in":"query","name":"koulutustyypit","required":true,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"in":"query","name":"tilat","required":true,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OpetussuunnitelmaDto"}}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/organisaatio/{organisaatioid}":{"get":{"operationId":"getOpetussuunnitelmatOrganisaatioista","parameters":[{"in":"path","name":"organisaatioid","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OpetussuunnitelmaDto"}}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/pohjat":{"get":{"operationId":"getOpsPohjat","parameters":[{"in":"query","name":"koulutustyypit","required":true,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"in":"query","name":"tilat","required":true,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"in":"query","name":"tyyppi","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OpetussuunnitelmaBaseDto"}}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/tilastot":{"get":{"operationId":"getOpetussuunnitelmaTilastot","parameters":[{"in":"query","name":"koulutustyypit","required":true,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OpetussuunnitelmaTilastoDto"}}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/vanhentuneet":{"get":{"operationId":"getPaivitettavatOpetussuunnitelmat","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VanhentunutPohjaperusteDto"}}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/vanhentuneet/{opsId}":{"get":{"operationId":"getPaivitettavaOpetussuunnitelma","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/VanhentunutPohjaperusteDto"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/ystavien":{"get":{"operationId":"getAllOtherOrgsOpetussuunnitelmat","parameters":[{"in":"query","name":"koulutustyypit","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OpetussuunnitelmaDto"}}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}":{"get":{"operationId":"getOpetussuunnitelma","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/OpetussuunnitelmaDto"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]},"put":{"operationId":"updateOpetussuunnitelma","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpetussuunnitelmaDto"}}}},"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/OpetussuunnitelmaDto"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/aktivoi/{revision}":{"post":{"operationId":"aktivoiJulkaisu","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"revision","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/JulkaisuBaseDto"}}},"description":"OK"}},"tags":["Julkaisut"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/dokumentti":{"get":{"operationId":"getLatestValmisDokumentti","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"kieli","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/pdf":{"schema":{"type":"object"}}},"description":"OK"}},"tags":["dokumentit"]},"post":{"operationId":"createDokumentti","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"kieli","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/DokumenttiDto"}}},"description":"OK"}},"tags":["dokumentit"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/dokumentti/dokumenttikuva":{"get":{"operationId":"getDokumenttiKuva","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"kieli","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/DokumenttiKuvaDto"}}},"description":"OK"}},"tags":["dokumentit"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/dokumentti/kuva":{"delete":{"operationId":"deleteDokumenttiImage","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"tyyppi","required":true,"schema":{"type":"string"}},{"in":"query","name":"kieli","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"object"}}},"description":"OK"}},"tags":["dokumentit"]},"get":{"operationId":"getDokumenttiImage","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"tyyppi","required":true,"schema":{"type":"string"}},{"in":"query","name":"kieli","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"string","format":"byte"}}},"description":"OK"}},"tags":["dokumentit"]},"post":{"operationId":"addDokumenttiImage","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"tyyppi","required":true,"schema":{"type":"string"}},{"in":"query","name":"kieli","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"content":{"*/*":{"schema":{"type":"object"}}},"description":"OK"}},"tags":["dokumentit"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/dokumentti/latest":{"get":{"operationId":"getLatestDokumentti","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"kieli","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/DokumenttiDto"}}},"description":"OK"}},"tags":["dokumentit"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/dokumentti/tila":{"get":{"operationId":"queryDokumenttiTila","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"kieli","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/DokumenttiDto"}}},"description":"OK"}},"tags":["dokumentit"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/dokumentti/{id}":{"put":{"operationId":"updateDokumentti","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"kieli","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DokumenttiDto"}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/DokumenttiDto"}}},"description":"OK"}},"tags":["dokumentit"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/julkaisu":{"post":{"operationId":"teeJulkaisu","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JulkaisuBaseDto"}}},"required":true},"responses":{"200":{"description":"OK"}},"tags":["Julkaisut"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/julkaisu/muutoksia":{"get":{"operationId":"julkaisemattomiaMuutoksia","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"boolean"}}},"description":"OK"}},"tags":["Julkaisut"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/julkaisut":{"get":{"operationId":"getJulkaisut","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JulkaisuBaseDto"}}}},"description":"OK"}},"tags":["Julkaisut"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/kevyt":{"get":{"operationId":"getOpetussuunnitelmaKevyt","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/OpetussuunnitelmaBaseDto"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/kopioiLinkattu":{"post":{"operationId":"kopioiLinkattuSisalto","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"integer","format":"int64"}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/SisaltoViiteDto"}}},"description":"OK"}},"tags":["Sisaltoviitteet"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/kuvat":{"get":{"operationId":"getAllImages","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LiiteDto"}}}},"description":"OK"}},"tags":["liitetiedostot"]},"post":{"operationId":"upload","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"nimi","required":true,"schema":{"type":"string"}},{"in":"query","name":"file","required":true,"schema":{"$ref":"#/components/schemas/Part"}},{"in":"query","name":"width","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"query","name":"height","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"string"}}},"description":"OK"}},"tags":["liitetiedostot"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/kuvat/{fileName}":{"get":{"operationId":"getKoulutustoimjaImage","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"fileName","required":true,"schema":{"type":"string"}},{"in":"header","name":"If-None-Match","required":false,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"tags":["liitetiedostot"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/kuvat/{id}":{"delete":{"operationId":"deleteImage","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"tags":["liitetiedostot"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/linkkaa":{"post":{"operationId":"linkkaaUusiSisalto","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"204":{"description":"No Content"}},"tags":["Sisaltoviitteet"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/lisaa":{"post":{"operationId":"copyMultipleSisaltoviite","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"204":{"description":"No Content"}},"tags":["Sisaltoviitteet"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/navigaatio":{"get":{"operationId":"getOpetussuunnitelmaNavigation","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/NavigationNodeDto"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/navigaatio/julkinen":{"get":{"operationId":"getOpetussuunnitelmaNavigationJulkinen","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/NavigationNodeDto"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/navigaatio/public":{"get":{"operationId":"getOpetussuunnitelmaNavigationPublic","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"esikatselu","required":false,"schema":{"type":"boolean"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/NavigationNodeDto"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/oikeudet":{"get":{"operationId":"getOpetussuunnitelmaOikeudet","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KayttajaoikeusDto"}}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/oikeudet/{kayttajaId}":{"post":{"operationId":"updateOpetussuunnitelmaOikeus","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"kayttajaId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KayttajaoikeusDto"}}}},"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/KayttajaoikeusDto"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/osaalue/oletustoteutukset":{"get":{"operationId":"haeOletusOsaAlueToteutukset","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OletusToteutusDto"}}}},"description":"OK"}},"tags":["OsaAlue"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/otsikot":{"get":{"operationId":"getOtsikot","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SisaltoViiteKevytDto"}}}},"description":"OK"}},"tags":["Sisaltoviitteet"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/paivita":{"post":{"operationId":"paivitaOpetussuunnitelmanPeruste","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/peruste":{"get":{"operationId":"getOpetussuunnitelmaPeruste","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/JsonNode"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/pohja/kevyt":{"get":{"operationId":"getOpetussuunnitelmaPohjaKevyt","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/OpetussuunnitelmaBaseDto"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/pohjansisaltoviitteet/{tyyppi}":{"get":{"operationId":"getOpetussuunnitelmanPohjanSisaltoviitteet","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"tyyppi","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SisaltoViiteDto"}}}},"description":"OK"}},"tags":["Sisaltoviitteet"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/poistetut":{"get":{"operationId":"getPoistetutSisaltoviitteet","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PoistettuDto"}}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/poistetut/{poistettuId}/palauta":{"post":{"operationId":"palautaOpetussuunnitelmaSisaltoviite","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"poistettuId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/SisaltoViiteDto"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/polut":{"get":{"operationId":"getSuorituspolutRakenteella","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SuorituspolkuRakenneDto"}}}},"description":"OK"}},"tags":["Sisaltoviitteet"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/removeViitteet":{"delete":{"operationId":"removeSisaltoViitteet","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK"}},"tags":["Sisaltoviitteet"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/siirra":{"post":{"operationId":"updateOpetussuunnitelmaKoulutustoimija","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KoulutustoimijaBaseDto"}}}},"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/OpetussuunnitelmaDto"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/siirraPassivoidusta":{"post":{"operationId":"updateOpetussuunnitelmaKoulutustoimijaPassivoidusta","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/OpetussuunnitelmaDto"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/sisaltoviitteet":{"get":{"operationId":"getSisaltoviitteet","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageSisaltoviiteLaajaDto"}}},"description":"OK"}},"tags":["Sisaltoviitteet"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/sisaltoviitteet/{tyyppi}":{"get":{"operationId":"getSisaltoviitteeTyypilla","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"tyyppi","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SisaltoViiteDto"}}}},"description":"OK"}},"tags":["Sisaltoviitteet"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/suorituspolku":{"get":{"operationId":"getPerusteRakenneNakyvat","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RakenneModuuliTunnisteDto"}}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/suorituspolut":{"get":{"operationId":"getSuorituspolut","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SisaltoViiteDto"}}}},"description":"OK"}},"tags":["Sisaltoviitteet"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/tekstit/{svId}":{"delete":{"operationId":"removeSisaltoViite","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"svId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"tags":["Sisaltoviitteet"]},"get":{"operationId":"getSisaltoviiteTekstit","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"svId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/Matala"}}},"description":"OK"}},"tags":["Sisaltoviitteet"]},"post":{"operationId":"addTekstiKappaleLapsi","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"svId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Matala"}}}},"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/Matala"}}},"description":"OK"}},"tags":["Sisaltoviitteet"]},"put":{"operationId":"updateTekstiKappaleViite","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"svId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SisaltoViiteDto"}}},"required":true},"responses":{"200":{"description":"OK"}},"tags":["Sisaltoviitteet"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/tekstit/{svId}/lukko":{"delete":{"operationId":"unlock","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"svId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}},"tags":["SisaltoviiteLukko"]},"get":{"operationId":"checkLock","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"svId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/LukkoDto"}}},"description":"OK"}},"tags":["SisaltoviiteLukko"]},"post":{"operationId":"lock","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"svId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"header","name":"If-Match","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/LukkoDto"}}},"description":"OK"}},"tags":["SisaltoviiteLukko"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/tekstit/{svId}/lukko/check":{"get":{"operationId":"getLock","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"svId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/LukkoDto"}}},"description":"OK"}},"tags":["SisaltoviiteLukko"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/tekstit/{svId}/rakenne":{"put":{"operationId":"updateSisaltoViiteRakenne","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"svId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SisaltoViiteRakenneDto"}}},"required":true},"responses":{"200":{"description":"OK"}},"tags":["Sisaltoviitteet"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/tekstit/{svId}/versiot":{"get":{"operationId":"getSisaltoviiteRevisions","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"svId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RevisionKayttajaDto"}}}},"description":"OK"}},"tags":["Sisaltoviitteet"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/tekstit/{svId}/versiot/uusin":{"get":{"operationId":"getLatestRevision","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"svId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RevisionDto"}}},"description":"OK"}},"tags":["Sisaltoviitteet"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/tekstit/{svId}/versiot/{revId}":{"get":{"operationId":"getSisaltoviiteRevision","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"svId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"revId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/SisaltoViiteDto"}}},"description":"OK"}},"tags":["Sisaltoviitteet"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/tekstit/{tkvId}/kommentit":{"get":{"operationId":"getAll_2","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"tkvId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KommenttiDto"}}}},"description":"OK"}},"tags":["kommentti-controller"]},"post":{"operationId":"add","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"tkvId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KommenttiDto"}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/KommenttiDto"}}},"description":"OK"}},"tags":["kommentti-controller"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/tekstit/{tkvId}/kommentit/{id}":{"delete":{"operationId":"delete","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"tkvId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"tags":["kommentti-controller"]},"get":{"operationId":"get_1","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"tkvId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/KommenttiDto"}}},"description":"OK"}},"tags":["kommentti-controller"]},"put":{"operationId":"update","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"tkvId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KommenttiDto"}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/KommenttiDto"}}},"description":"OK"}},"tags":["kommentti-controller"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/tila/{tila}":{"post":{"operationId":"updateOpetussuunnitelmaTila","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"tila","required":true,"schema":{"type":"string","enum":["LUONNOS","VALMIS","POISTETTU","JULKAISTU"]}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/OpetussuunnitelmaBaseDto"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/tutkinnonosat":{"get":{"operationId":"getTutkinnonosat","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SisaltoViiteDto"}}}},"description":"OK"}},"tags":["Sisaltoviitteet"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/tutkinnonosat/kevyt":{"get":{"operationId":"getTutkinnonosatKevyt","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SisaltoViiteTutkinnonosaKevytDto"}}}},"description":"OK"}},"tags":["Sisaltoviitteet"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/tutkinnonosat/oletustoteutukset":{"get":{"operationId":"haeOletusTutkinnonosaToteutukset","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OletusToteutusDto"}}}},"description":"OK"}},"tags":["Tutkinnonosa"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/tutkinnonosat/viite/{id}":{"get":{"operationId":"haeTutkinnonosa","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/Tutkinnonosa"}}},"description":"OK"}},"tags":["Tutkinnonosa"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/validoi":{"get":{"operationId":"validoiOpetussuunnitelma","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Validointi"}}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/version/{revId}":{"post":{"operationId":"revertOpetussuunnitelmaToRevision","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"revId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"object"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/versiot":{"get":{"operationId":"getOpetussuunnitelmaRevisions","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Revision"}}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/versiot/uusin":{"get":{"operationId":"getOpetussuunnitelmaLatestRevision","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/Revision"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/versiot/{revId}":{"get":{"operationId":"getOpetussuunnitelmaRevision","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"revId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"object"}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/koulutustoimijat/{ktId}/opetussuunnitelmat/{opsId}/viimeisinjulkaisutila":{"get":{"operationId":"viimeisinJulkaisuTila","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"string","enum":["JULKAISEMATON","KESKEN","JULKAISTU","VIRHE"]}}},"description":"OK"}},"tags":["Julkaisut"]}},"/api/koulutustoimijat/{ktId}/termisto":{"get":{"operationId":"getAll_1","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TermiDto"}}}},"description":"OK"}},"tags":["termisto-controller"]},"post":{"operationId":"addTermi","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermiDto"}}},"required":true},"responses":{"201":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/TermiDto"}}},"description":"Created"}},"tags":["termisto-controller"]}},"/api/koulutustoimijat/{ktId}/termisto/{avain}/avain":{"get":{"operationId":"get_3","parameters":[{"in":"path","name":"avain","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/TermiDto"}}},"description":"OK"}},"tags":["termisto-controller"]}},"/api/koulutustoimijat/{ktId}/termisto/{termiId}":{"delete":{"operationId":"deleteTermi","parameters":[{"in":"path","name":"termiId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"tags":["termisto-controller"]},"get":{"operationId":"get","parameters":[{"in":"path","name":"termiId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/TermiDto"}}},"description":"OK"}},"tags":["termisto-controller"]},"put":{"operationId":"updateTermi","parameters":[{"in":"path","name":"termiId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermiDto"}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/TermiDto"}}},"description":"OK"}},"tags":["termisto-controller"]}},"/api/koulutustoimijat/{ktId}/tiedotteet":{"get":{"operationId":"getAll","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TiedoteDto"}}}},"description":"OK"}},"tags":["Tiedotteet"]},"post":{"operationId":"addTiedote","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TiedoteDto"}}},"required":true},"responses":{"201":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/TiedoteDto"}}},"description":"Created"}},"tags":["Tiedotteet"]}},"/api/koulutustoimijat/{ktId}/tiedotteet/{id}":{"delete":{"operationId":"deleteTiedote","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"tags":["Tiedotteet"]},"get":{"operationId":"getTiedote","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/TiedoteDto"}}},"description":"OK"}},"tags":["Tiedotteet"]},"put":{"operationId":"updateTiedote","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TiedoteDto"}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/TiedoteDto"}}},"description":"OK"}},"tags":["Tiedotteet"]}},"/api/koulutustoimijat/{ktId}/tiedotteet/{id}/kuittaa":{"post":{"operationId":"updateTiedote_1","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"tags":["Tiedotteet"]}},"/api/koulutustoimijat/{ktId}/tutkinnonosat":{"get":{"operationId":"getPaikallisetTutkinnonosat","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SisaltoViitePaikallinenIntegrationDto"}}}},"description":"OK"}},"tags":["koulutustoimijat"]}},"/api/koulutustoimijat/{ktId}/yhteistyo":{"get":{"operationId":"getYhteistyoKoulutustoimijat","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KoulutustoimijaBaseDto"}}}},"description":"OK"}},"tags":["koulutustoimijat"]}},"/api/koulutustoimijat/{ktId}/ystavaOrganisaatioKayttajat":{"get":{"operationId":"getYstavaOrganisaatioKayttajat","parameters":[{"in":"query","name":"app","required":true,"schema":{"type":"string"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KayttajaKtoDto"}}}},"description":"OK"}},"tags":["koulutustoimijat"]}},"/api/koulutustoimijat/{ktId}/ystavapyynnot":{"get":{"operationId":"getPyynnot","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KoulutustoimijaBaseDto"}}}},"description":"OK"}},"tags":["koulutustoimijat"]}},"/api/koulutustoimijat/{ktId}/ystavat":{"get":{"operationId":"getOmatYstavat","parameters":[{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KoulutustoimijaYstavaDto"}}}},"description":"OK"}},"tags":["koulutustoimijat"]}},"/api/maintenance/cacheclear/{cache}":{"get":{"operationId":"clearCache","parameters":[{"in":"path","name":"cache","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"string"}}},"description":"OK"}},"tags":["Maintenance"]}},"/api/maintenance/julkaisut":{"get":{"operationId":"teeJulkaisut","parameters":[{"in":"query","name":"julkaisekaikki","required":false,"schema":{"type":"boolean","default":false}},{"in":"query","name":"koulutustyypit","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"in":"query","name":"opstyyppi","required":false,"schema":{"type":"string","default":"ops"}}],"responses":{"200":{"description":"OK"}},"tags":["Maintenance"]}},"/api/maintenance/paivita/koulutustoimija/oppilaitostyyppi":{"get":{"operationId":"paivitaKoulutustoimijaOppilaitostyypit","responses":{"200":{"content":{"*/*":{"schema":{"type":"string"}}},"description":"OK"}},"tags":["Maintenance"]}},"/api/maintenance/poistajulkaisut/{opsId}":{"get":{"operationId":"poistaJulkaisut","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"string"}}},"description":"OK"}},"tags":["Maintenance"]}},"/api/migrate":{"get":{"operationId":"migrate","responses":{"200":{"description":"OK"}},"tags":["migration-controller"]}},"/api/ohjeet":{"get":{"operationId":"getOhjeet","parameters":[{"in":"query","name":"toteutus","required":false,"schema":{"type":"string","default":"ammatillinen"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OhjeDto"}}}},"description":"OK"}},"tags":["Ohjeet"]},"post":{"operationId":"addOhje","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OhjeDto"}}},"required":true},"responses":{"201":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/OhjeDto"}}},"description":"Created"}},"tags":["Ohjeet"]}},"/api/ohjeet/{id}":{"delete":{"operationId":"removeOhje","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"string"}}},"description":"OK"}},"tags":["Ohjeet"]},"put":{"operationId":"editOhje","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OhjeDto"}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/OhjeDto"}}},"description":"OK"}},"tags":["Ohjeet"]}},"/api/opetussuunnitelmat/opspohjat":{"get":{"operationId":"getOphOpsPohjat","parameters":[{"in":"query","name":"koulutustyypit","required":true,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OpetussuunnitelmaBaseDto"}}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/opetussuunnitelmat/pohjat":{"get":{"operationId":"getPohjat","responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OpetussuunnitelmaBaseDto"}}}},"description":"OK"}},"tags":["opetussuunnitelmat"]}},"/api/opetussuunnitelmat/{opsId}/kuvat/{fileName}":{"get":{"operationId":"getImage","parameters":[{"in":"path","name":"opsId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"fileName","required":true,"schema":{"type":"string"}},{"in":"header","name":"If-None-Match","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"tags":["liitetiedostot"]}},"/api/perusteet":{"get":{"operationId":"getPerusteet","responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PerusteDto"}}}},"description":"OK"}},"tags":["perusteet"]}},"/api/perusteet/haku":{"get":{"operationId":"haePerusteista","parameters":[{"in":"query","name":"params","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/JsonNode"}}},"description":"OK"}},"tags":["perusteet"]}},"/api/perusteet/koulutustoimija/{ktId}/opetussuunnitelma/{opetussuunnitelmaId}/koulutuskoodillakorvaava":{"get":{"operationId":"getKoulutuskoodillaKorvaavaPeruste","parameters":[{"in":"path","name":"opetussuunnitelmaId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"ktId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/PerusteDto"}}},"description":"OK"}},"tags":["perusteet"]}},"/api/perusteet/opetussuunnitelmat":{"get":{"operationId":"getOpetussuunnitelmat","parameters":[{"in":"query","name":"diaarinumero","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OpetussuunnitelmaBaseDto"}}}},"description":"OK"}},"tags":["perusteet"]}},"/api/perusteet/{id}":{"get":{"operationId":"getPeruste","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/PerusteDto"}}},"description":"OK"}},"tags":["perusteet"]}},"/api/perusteet/{id}/kaikki":{"get":{"operationId":"getPerusteAll","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/JsonNode"}}},"description":"OK"}},"tags":["perusteet"]}},"/api/perusteet/{id}/suorituspolkuosat":{"get":{"operationId":"getPerusteTutkinnonOsatKevyt","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TutkinnonOsaSuoritustapaDto"}}}},"description":"OK"}},"tags":["perusteet"]}},"/api/perusteet/{id}/suoritustavat":{"get":{"operationId":"getPerusteRakenteet","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/JsonNode"}}},"description":"OK"}},"tags":["perusteet"]}},"/api/perusteet/{id}/suoritustavat/{st}":{"get":{"operationId":"getPerusteRakenne","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"st","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/JsonNode"}}},"description":"OK"}},"tags":["perusteet"]}},"/api/perusteet/{id}/suoritustavat/{st}/tutkinnonosat":{"get":{"operationId":"getTutkinnonOsaViitteet","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"st","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/JsonNode"}}},"description":"OK"}},"tags":["perusteet"]}},"/api/perusteet/{id}/suoritustavat/{st}/tutkinnonosat/{tosaId}":{"get":{"operationId":"getTutkinnonOsaViite","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"st","required":true,"schema":{"type":"string"}},{"in":"path","name":"tosaId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/JsonNode"}}},"description":"OK"}},"tags":["perusteet"]}},"/api/perusteet/{id}/tutkinnonosat":{"get":{"operationId":"getPerusteTutkinnonOsat","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/JsonNode"}}},"description":"OK"}},"tags":["perusteet"]}},"/api/perusteet/{id}/tutkinnonosat/{tosaId}":{"get":{"operationId":"getPerusteTutkinnonOsa","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"tosaId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/JsonNode"}}},"description":"OK"}},"tags":["perusteet"]}},"/api/perusteet/{perusteId}/perusteenosa/{perusteenosaId}":{"get":{"operationId":"getPerusteenOsa","parameters":[{"in":"path","name":"perusteId","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"path","name":"perusteenosaId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/PerusteenOsaDto"}}},"description":"OK"}},"tags":["perusteet"]}},"/api/perusteet/{perusteId}/perusteesta":{"get":{"operationId":"getPerusteByPerusteId","parameters":[{"in":"path","name":"perusteId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/JsonNode"}}},"description":"OK"}},"tags":["perusteet"]}},"/api/tilastot":{"get":{"operationId":"get_2","responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/TilastotDto"}}},"description":"OK"}},"tags":["tilastot"]}},"/api/tilastot/opetussuunnitelmat/{sivu}/{sivukoko}":{"get":{"operationId":"getOpetussuunnitelmaTilastotSivu","parameters":[{"in":"path","name":"sivu","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"path","name":"sivukoko","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageOpetussuunnitelmaTilastoDto"}}},"description":"OK"}},"tags":["tilastot"]}},"/api/tilastot/toimijat":{"get":{"operationId":"getTilastotToimijakohtaisesti","responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ToimijaTilastotDto"}}},"description":"OK"}},"tags":["tilastot"]}},"/api/ulkopuoliset/geneerisetArvioinnit":{"get":{"operationId":"getGeneerisetArvioinnit","responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/JsonNode"}}},"description":"OK"}},"tags":["Ulkopuoliset"]}},"/api/ulkopuoliset/julkaistutperusteet":{"get":{"operationId":"getJulkaistutPerusteet","responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PerusteDto"}}}},"description":"OK"}},"tags":["Ulkopuoliset"]}},"/api/ulkopuoliset/julkaistutperusteet/kevyt":{"get":{"operationId":"getJulkaistutPerusteetKevyt","parameters":[{"in":"query","name":"koulutustyyppi","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PerusteKevytDto"}}}},"description":"OK"}},"tags":["Ulkopuoliset"]}},"/api/ulkopuoliset/kayttajatiedot/{oid}":{"get":{"operationId":"getKayttajatiedot","parameters":[{"in":"path","name":"oid","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/KayttajanTietoDto"}}},"description":"OK"}},"tags":["Ulkopuoliset"]}},"/api/ulkopuoliset/koodisto/relaatio/sisaltyy-alakoodit/{koodi}":{"get":{"operationId":"alarelaatio","parameters":[{"in":"path","name":"koodi","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KoodistoKoodiDto"}}}},"description":"OK"}},"tags":["Ulkopuoliset"]}},"/api/ulkopuoliset/koodisto/relaatio/sisaltyy-ylakoodit/{koodi}":{"get":{"operationId":"ylarelaatio","parameters":[{"in":"path","name":"koodi","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KoodistoKoodiDto"}}}},"description":"OK"}},"tags":["Ulkopuoliset"]}},"/api/ulkopuoliset/koodisto/{koodisto}":{"get":{"operationId":"kaikki","parameters":[{"in":"path","name":"koodisto","required":true,"schema":{"type":"string"}},{"in":"query","name":"haku","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KoodistoKoodiDto"}}}},"description":"OK"}},"tags":["Ulkopuoliset"]}},"/api/ulkopuoliset/koodisto/{koodisto}/{koodi}":{"get":{"operationId":"yksi","parameters":[{"in":"path","name":"koodisto","required":true,"schema":{"type":"string"}},{"in":"path","name":"koodi","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/KoodistoKoodiDto"}}},"description":"OK"}},"tags":["Ulkopuoliset"]}},"/api/ulkopuoliset/tiedotteet":{"get":{"operationId":"getTiedotteet","parameters":[{"in":"query","name":"jalkeen","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/JsonNode"}}},"description":"OK"}},"tags":["Ulkopuoliset"]}},"/api/ulkopuoliset/tiedotteet/haku":{"get":{"operationId":"getTiedotteetHaku","parameters":[{"in":"query","name":"sivu","schema":{"type":"integer","format":"int64"}},{"in":"query","name":"sivukoko","schema":{"type":"integer","format":"int64"}},{"description":"tiedotteen kieli","in":"query","name":"kieli","schema":{"type":"array","items":{"type":"string"}}},{"description":"hae nimellä","in":"query","name":"nimi","schema":{"type":"string"}},{"description":"hae perusteeseen liitetyt tiedotteet","in":"query","name":"perusteId","schema":{"type":"integer","format":"int64"}},{"description":"hae perusteettomat tiedotteet","in":"query","name":"perusteeton","schema":{"type":"boolean"}},{"description":"hae julkiset tiedotteet","in":"query","name":"julkinen","schema":{"type":"boolean"}},{"description":"hae yleiset tiedotteet","in":"query","name":"yleinen","schema":{"type":"boolean"}},{"description":"tiedotteen perusteiden","in":"query","name":"perusteIds","schema":{"type":"array","items":{"type":"number"}}},{"description":"tiedotteen julkaisupaikat","in":"query","name":"tiedoteJulkaisuPaikka","schema":{"type":"array","items":{"type":"string"}}},{"description":"tiedotteen koulutustyypit","in":"query","name":"koulutusTyyppi","schema":{"type":"array","items":{"type":"string"}}},{"description":"tiedotteen jarjestys","in":"query","name":"jarjestys","schema":{"type":"string"}},{"description":"tiedotteen jarjestyksen suunta","in":"query","name":"jarjestysNouseva","schema":{"type":"boolean"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/JsonNode"}}},"description":"OK"}},"summary":"tiedotteiden haku","tags":["Ulkopuoliset"]}}},"components":{"schemas":{"AbstractRakenneOsaDto":{"type":"object","properties":{"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"pakollinen":{"type":"boolean"},"tunniste":{"type":"string","format":"uuid"},"vieras":{"$ref":"#/components/schemas/KoodiDto"}}},"AmmattitaitovaatimuksenKohde":{"type":"object","properties":{"ammattitaitovaatimuksenkohdealue":{"$ref":"#/components/schemas/AmmattitaitovaatimuksenKohdealue"},"id":{"type":"integer","format":"int64"},"otsikko":{"$ref":"#/components/schemas/LokalisoituTeksti"},"selite":{"$ref":"#/components/schemas/LokalisoituTeksti"},"vaatimukset":{"type":"array","items":{"$ref":"#/components/schemas/Ammattitaitovaatimus"}}}},"AmmattitaitovaatimuksenKohdeDto":{"type":"object","properties":{"otsikko":{"type":"object","additionalProperties":{"type":"string"}},"selite":{"type":"object","additionalProperties":{"type":"string"}},"vaatimukset":{"type":"array","items":{"$ref":"#/components/schemas/AmmattitaitovaatimusDto"}}}},"AmmattitaitovaatimuksenKohdealue":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"otsikko":{"$ref":"#/components/schemas/LokalisoituTeksti"},"tutkinnonOsat":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/OmaTutkinnonosa"}},"vaatimuksenKohteet":{"type":"array","items":{"$ref":"#/components/schemas/AmmattitaitovaatimuksenKohde"}}}},"AmmattitaitovaatimuksenKohdealueDto":{"type":"object","properties":{"otsikko":{"type":"object","additionalProperties":{"type":"string"}},"vaatimuksenKohteet":{"type":"array","items":{"$ref":"#/components/schemas/AmmattitaitovaatimuksenKohdeDto"}}}},"Ammattitaitovaatimukset2019":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"kohde":{"$ref":"#/components/schemas/LokalisoituTeksti"},"kohdealueet":{"type":"array","items":{"$ref":"#/components/schemas/Ammattitaitovaatimus2019Kohdealue"}},"luoja":{"type":"string"},"luotu":{"type":"string","format":"date-time"},"muokattu":{"type":"string","format":"date-time"},"muokkaaja":{"type":"string"},"vaatimukset":{"type":"array","items":{"$ref":"#/components/schemas/Ammattitaitovaatimus2019"}}}},"Ammattitaitovaatimus":{"type":"object","properties":{"ammattitaitovaatimuksenkohde":{"$ref":"#/components/schemas/AmmattitaitovaatimuksenKohde"},"ammattitaitovaatimusKoodi":{"type":"string"},"id":{"type":"integer","format":"int64"},"jarjestys":{"type":"integer","format":"int32"},"selite":{"$ref":"#/components/schemas/LokalisoituTeksti"}}},"Ammattitaitovaatimus2019":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"koodi":{"$ref":"#/components/schemas/KoodistoKoodi"},"luoja":{"type":"string"},"luotu":{"type":"string","format":"date-time"},"muokattu":{"type":"string","format":"date-time"},"muokkaaja":{"type":"string"},"vaatimus":{"$ref":"#/components/schemas/LokalisoituTeksti"}}},"Ammattitaitovaatimus2019Kohdealue":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"kuvaus":{"$ref":"#/components/schemas/LokalisoituTeksti"},"luoja":{"type":"string"},"luotu":{"type":"string","format":"date-time"},"muokattu":{"type":"string","format":"date-time"},"muokkaaja":{"type":"string"},"vaatimukset":{"type":"array","items":{"$ref":"#/components/schemas/Ammattitaitovaatimus2019"}}}},"AmmattitaitovaatimusDto":{"type":"object","properties":{"ammattitaitovaatimusKoodi":{"type":"string"},"id":{"type":"integer","format":"int64"},"jarjestys":{"type":"integer","format":"int32"},"selite":{"type":"object","additionalProperties":{"type":"string"}}}},"ArvioinninKohde":{"required":["arviointiasteikko"],"type":"object","properties":{"arvioinninKohdealueet":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/ArvioinninKohdealue"}},"arviointiasteikko":{"$ref":"#/components/schemas/Arviointiasteikko"},"id":{"type":"integer","format":"int64"},"osaamistasonKriteerit":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/OsaamistasonKriteeri"}},"otsikko":{"$ref":"#/components/schemas/LokalisoituTeksti"},"selite":{"$ref":"#/components/schemas/LokalisoituTeksti"}}},"ArvioinninKohdeDto":{"type":"object","properties":{"_arviointiasteikko":{"type":"string"},"osaamistasonKriteerit":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/OsaamistasonKriteeriDto"}},"otsikko":{"type":"object","additionalProperties":{"type":"string"}},"selite":{"type":"object","additionalProperties":{"type":"string"}}}},"ArvioinninKohdeExportDto":{"type":"object","properties":{"_arviointiasteikko":{"type":"string"},"arviointiasteikko":{"$ref":"#/components/schemas/ArviointiasteikkoDto"},"osaamistasonKriteerit":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/OsaamistasonKriteeriDto"}},"otsikko":{"type":"object","additionalProperties":{"type":"string"}},"selite":{"type":"object","additionalProperties":{"type":"string"}}}},"ArvioinninKohdealue":{"type":"object","properties":{"arvioinninKohteet":{"type":"array","items":{"$ref":"#/components/schemas/ArvioinninKohde"}},"id":{"type":"integer","format":"int64"},"otsikko":{"$ref":"#/components/schemas/LokalisoituTeksti"}}},"ArvioinninKohdealueDto":{"type":"object","properties":{"arvioinninKohteet":{"type":"array","items":{"$ref":"#/components/schemas/ArvioinninKohdeDto"}},"otsikko":{"type":"object","additionalProperties":{"type":"string"}}}},"ArvioinninKohdealueExportDto":{"type":"object","properties":{"arvioinninKohteet":{"type":"array","items":{"$ref":"#/components/schemas/ArvioinninKohdeExportDto"}},"otsikko":{"type":"object","additionalProperties":{"type":"string"}}}},"Arviointi":{"type":"object","properties":{"arvioinninKohdealueet":{"type":"array","items":{"$ref":"#/components/schemas/ArvioinninKohdealue"}},"id":{"type":"integer","format":"int64"},"lisatiedot":{"$ref":"#/components/schemas/LokalisoituTeksti"},"osaamistavoite":{"$ref":"#/components/schemas/Osaamistavoite"}}},"ArviointiAsteikkoDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"osaamistasot":{"type":"array","items":{"$ref":"#/components/schemas/OsaamistasoDto"}}}},"ArviointiDto":{"type":"object","properties":{"arvioinninKohdealueet":{"type":"array","items":{"$ref":"#/components/schemas/ArvioinninKohdealueDto"}},"id":{"type":"integer","format":"int64"},"lisatiedot":{"type":"object","additionalProperties":{"type":"string"}}}},"ArviointiExportDto":{"type":"object","properties":{"arvioinninKohdealueet":{"type":"array","items":{"$ref":"#/components/schemas/ArvioinninKohdealueExportDto"}},"id":{"type":"integer","format":"int64"},"lisatiedot":{"type":"object","additionalProperties":{"type":"string"}}}},"Arviointiasteikko":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"osaamistasot":{"type":"array","items":{"$ref":"#/components/schemas/Osaamistaso"}}}},"ArviointiasteikkoDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"osaamistasot":{"type":"array","items":{"$ref":"#/components/schemas/OsaamistasoDto"}}}},"BatchStepExecution":{"type":"object","properties":{"jobEndTime":{"type":"string"},"jobStartTime":{"type":"string"},"readCount":{"type":"integer","format":"int64"},"status":{"type":"string"},"stepExecutionId":{"type":"integer","format":"int64"},"stepName":{"type":"string"}}},"CachedPeruste":{"type":"object","properties":{"diaarinumero":{"type":"string"},"id":{"type":"integer","format":"int64"},"koulutukset":{"uniqueItems":true,"type":"array","deprecat
[...]
