mixin eiKoulutustoimijoita()
  h3(ng-bind="'virhe-ei-koulutustoimijoita-otsikko' | kaanna")
  p(ng-bind="'virhe-ei-koulutustoimijoita' | kaanna")
  div(style="text-align: center")
    div(class="fa fa-frown-o sad-face")

div.virhe(ng-show="tyyppi === 'ei-koulutustoimijoita'")
  +eiKoulutustoimijoita()

div.virhe(ng-show="!tyyppi")
  h3 Jokin meni pieleen.
  div(style="text-align: center")
    div(class="fa fa-frown-o sad-face")
