div.ops-nakyma
  div.row
    div.col-xs-12
      div.ylatunniste
        a.pull-left(href="" ng-click="muutaTila()")
          div.muokkaa(class="{{ 'tilavari-' + ops.tila }}")
            i.fa.fa-pencil
        div.pull-left
          h2(ng-bind="ops.nimi | kaanna")
          h2
            span
              i.fa.fa-magic
          div.peruste-nimi(ng-if="ops.tyyppi === 'ops'")
            p(kaanna="ops.peruste.nimi")
          div.peruste-nimi(ng-if="ops.tyyppi === 'pohja'")
            p(kaanna="'yhteisien-osien-pohja'")

        div.painikkeet
          div.keskitetty.pull-right
            button.btn.btn-default
              span.glyphicon.glyphicon-sunglasses
              span=" "
              span(kaanna="'esikatselu'")


  div.row
    div.col-xs-12
      div.tabit
        ul.nav.nav-tabs
          li(ui-sref-active="active")
            a(ui-sref=".sisalto" kaanna="'sisalto'")
          li(ui-sref-active="active")
            a(ui-sref=".kasitteet" kaanna="'kasitteet'")
          li(ui-sref-active="active")
            a(ui-sref=".poistetut" kaanna="'poistetut'")
          li(ui-sref-active="active")
            a(ui-sref=".oikeudet" kaanna="'oikeudet'" ng-if="ops.tyyppi !== 'pohja'")
          li(ui-sref-active="active")
            a(ui-sref=".dokumentti" kaanna="'dokumentti'" ng-if="ops.tyyppi !== 'pohja'")

  div.row
    div.col-xs-12
      div.ui-view
