.ops-nakyma
  .row
    .col-xs-12
      .ylatunniste
        button(ng-click="muutaTila()"
               oikeustarkastelu="hallinta"
               class="btn muokkaa fa fa-pencil pull-left {{'tilavari-' + ops.tila2016}}")

        .pull-left
          h2(ng-bind="ops.nimi | kaanna")
          .peruste-toimija
            p(ng-bind="ops.koulutustoimija.nimi | kaanna")
          .peruste-nimi(ng-if="ops.tyyppi === 'ops'")
            p(ng-bind="ops.peruste.nimi | kaanna")
          .peruste-nimi(ng-if="ops.tyyppi === 'pohja'")
            p(ng-bind="'yhteisien-osien-pohja' | kaanna")

        .painikkeet
          .keskitetty.pull-right
            button.btn.btn-default(ng-click="validoi()")
              +gicon("export")
              span=" "
              span(ng-bind="'validoi-ops' | kaanna")

            a.btn.btn-default(ng-href="{{createUrl(ops)}}" ng-if="ops.esikatseltavissa")
              +gicon("sunglasses")
              span=" "
              span(ng-bind="'esikatselu' | kaanna")

  .row
    .col-xs-12
      .tabit
        ul.nav.nav-tabs
          li(ui-sref-active="active")
            a(ui-sref=".sisalto" ng-bind="'sisalto' | kaanna")
          li(ui-sref-active="active")
            a(ui-sref=".kasitteet" ng-bind="'kasitteet' | kaanna")
          li(ui-sref-active="active" oikeustarkastelu="poisto")
            a(ui-sref=".poistetut" ng-bind="'poistetut' | kaanna")
          li(ui-sref-active="active")
            a(ui-sref=".oikeudet" ng-bind="'oikeudet' | kaanna" ng-if="ops.tyyppi !== 'pohja'")
          li(ui-sref-active="active")
            a(ui-sref=".dokumentti" ng-bind="'dokumentti' | kaanna" ng-if="ops.tyyppi !== 'pohja'")

  .row
    .col-xs-12
      .ui-view
