div.ops-nakyma
  div.row
    div.col-xs-12
      div.ylatunniste
        a.pull-left(href="" ng-click="muutaTila()")
          div.muokkaa(class="{{ 'tilavari-' + ops.tila }}")
            i.fa.fa-pencil
        div.pull-left
          h2(ng-bind="ops.nimi | kaanna")
          div.peruste-nimi(ng-if="ops.tyyppi === 'ops'")
            p(ng-bind="ops.peruste.nimi | kaanna")
          div.peruste-nimi(ng-if="ops.tyyppi === 'pohja'")
            p(ng-bind="'yhteisien-osien-pohja' | kaanna")

        div.painikkeet
          div.keskitetty.pull-right
            button.btn.btn-default(ng-click="validoi()")
              +gicon("export")
              span=" "
              span(ng-bind="'validoi-ops' | kaanna")

            a.btn.btn-default(ng-href="{{createUrl(ops)}}")
              +gicon("sunglasses")
              span=" "
              span(ng-bind="'esikatselu' | kaanna")


  div.row
    div.col-xs-12
      div.tabit
        ul.nav.nav-tabs
          li(ui-sref-active="active")
            a(ui-sref=".sisalto" ng-bind="'sisalto' | kaanna")
          li(ui-sref-active="active")
            a(ui-sref=".kasitteet" ng-bind="'kasitteet' | kaanna")
          li(ui-sref-active="active")
            a(ui-sref=".poistetut" ng-bind="'poistetut' | kaanna")
          li(ui-sref-active="active")
            a(ui-sref=".oikeudet" ng-bind="'oikeudet' | kaanna" ng-if="ops.tyyppi !== 'pohja'")
          li(ui-sref-active="active")
            a(ui-sref=".dokumentti" ng-bind="'dokumentti' | kaanna" ng-if="ops.tyyppi !== 'pohja'")

  div.row
    div.col-xs-12
      div.ui-view
