$icon-size: 20px;

.icon {
  padding: 0 10px;
  display: inline;

  i {
    font-size: 18px;
    text-align: center;
    width: $icon-size;
    height: $icon-size;
    padding-top: 2px;
    color: #FFFFFF;
    background-color: #149ccd;
    border-radius: 4px;
  }
}
