.faq
  h2.faq-otsikko(ng-bind="'usein-kysytyt-kysymykset' | kaanna")
  .row
    .col-xs-8
      .faq-haku.input-group.input-group-sm
        span.input-group-addon
          i.glyphicon.glyphicon-search(style="color: gray;")
        input.form-control(ng-change="suodata(search)" ng-model-options="{ debounce: 400 }" type="text" ng-model="search" placeholder="{{ 'hae' | kaanna }}")
    .col-xs-4
      .pull-right(ng-if="canEdit && !$$isEditing")
        button.btn.btn-sm.btn-primary(ng-click="add()")
          span(kaanna="'lisaa-uusi'")

  .faq-item(ng-repeat="item in faq" id="{{ 'faq-item-' + item.id }}" ng-show="item.$$filtered")
    div(ng-if="item.$$editing")
      input.form-control(ng-model="item.kysymys" type="text" required="true" placeholder="{{ 'kysymys' | kaanna }}")
      div(ng-if="$$isEditing")
        div(style="margin-bottom: 16px" ckeditor ng-model="item.vastaus" layout="normal")
      div
        button.btn.btn-sm.btn-primary(kaanna="'tallenna'" ng-click="save(item)")
        button.btn.btn-sm.btn-warning(kaanna="'peruuta'" ng-click="cancel(item)")
        button.btn.btn-sm.btn-danger.pull-right(kaanna="'poista'" ng-click="remove(item)" ng-show="item.id")
    div(ng-hide="item.$$editing")
      h3(ng-bind="item.kysymys")
      p(ng-bind-html="item.vastaus | unsafe")
      button.btn.btn-sm.btn-primary(kaanna="'muokkaa'" ng-click="start(item)" ng-if="canEdit && !$$isEditing")
