div.kasitteet
  a(href="").btn.btn-default.pull-right Lisää
  h2 Käsitteet
    ohje(teksti="this is a test", otsikko="test title", suunta="top")

  div.row
    div.col-xs-4
      div.form-group.has-feedback.has-feedback-left
        input.form-control(type="text", placeholder="Rajaa...")
        i.form-control-feedback.glyphicon.glyphicon-search(style="color: gray;")

  div.row
    dic.col-xs-12
      span lorem ipsum
