div.row
  div.col-xs-12
    div.tiedotteet
      div.tiedote(id="tiedote1")
        div.tiedote-laatikko
          div.pull-left
            .icon
              i.fa.fa-exclamation
          a(href="" onclick="$('#tiedote1').fadeTo(400, 0).slideUp(600, function() { jQuery(this).remove() }).dequeue();").pull-right
            span.fa.fa-times
          a(href="").pull-right
            span.fa.fa-pencil
          .tiedote-otsikko
            p Paikallisten opetussuunnitelmien laadinta uudistuu 1.3.2016, tutustu uusiin toimintoihin ja anna palautetta
            p OPH 12.1.2016
          .tiedote-sisalto(id="tiedote1-sisalto") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .expand
            a(href="" onclick="$('#tiedote1-sisalto').fadeOut().slideToggle(400).dequeue();")
              i.glyphicon.glyphicon-option-horizontal

      div.tiedote(id="tiedote2")
        div.tiedote-laatikko
          div.pull-left
            .icon
              i.fa.fa-question
          a(href="" onclick="$('#tiedote2').fadeTo(400, 0).slideUp(600, function() { jQuery(this).remove() }).dequeue();").pull-right
            span.fa.fa-times
          a(href="").pull-right
            span.fa.fa-pencil
          .tiedote-otsikko
            p Huomioikaa työryhmien omien osuuksien palautuspäivä 31.1.2016
            p Hervannan OAL 12.1.2016
          .tiedote-sisalto(id="tiedote2-sisalto") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .expand
            a(href="" onclick="$('#tiedote2-sisalto').fadeOut().slideToggle(400).dequeue();")
              i.glyphicon.glyphicon-option-horizontal
div.row
  div.col-xs-12
    button.btn.btn-default(ng-bind="'lisaa-uusi' | kaanna")

