div.koulutustoimija
  div.row
    div.col-xs-6
      h2.otsikko
        span(kaanna="'opetushallitus'")
        span.dropdown(uib-dropdown)
          a.dropdown-toggle(href="", uib-dropdown-toggle)
            i.fa.fa-chevron-down.fa-fw
          ul.dropdown-menu.dropdown-menu-right(uib-dropdown-menu)
            li(ui-sref-active="active")
              a(href="", kaanna="oph-nakyma", ui-sref="root.oph")
            li(ui-sref-active="active")
              a(href="", kaanna="koulutustoimija-nakyma", ui-sref="root.koulutustoimija.detail({ ktId: 1 })")

    div.col-xs-6.tiedotteet-selite
      p.pull-right
        span Selitteet
        span.icon
          i.fa.fa-question
        span Tiedotteet
        span.icon
          i.fa.fa-exclamation

div(ui-view="tiedotteet")
div(ui-view="pohjat")
div(ui-view="tilastot")
