div
  div(ng-repeat="(param, value) in params")
    div.form-group.form-horizontal
      div.form-group.row
        label.control-label.col-sm-1 {{ param }}
        span.input-group.col-sm-10
          input.form-control(type="text", ng-model="params[param]")

  div(style="margin-left: {{ state.$$depth * 40 }}px" ng-repeat="state in states" ng-show="state.name")
    h3(ng-bind="state.name")
    div(ng-show="state.abstract")
      label(style="margin-right: 5px") Abstrakti
    div
      label(style="margin-right: 5px") url:
      span(ng-bind="state.url")
    a(ng-href="{{ urlify(state) }}", ng-bind="urlify(state)") {{ state.name }}
    // pre(ng-bind="state | json")
