h1 rootstate

div(style="margin-left: 10px")
  button.btn.btn-primary bootstrap toimii
  button.btn.btn-default bootstrap toimii
  button.btn.btn-danger bootstrap toimii

div.
  jotain sisaltoa ja muuttuja: #[pre(ng-bind="kayttaja | json")]

a(href="", ui-sref=".opetussuunnitelmat.index()") Opetussuunnitelmat
// a(href="", ui-sref=".opetussuunnitelmat()") Opetussuunnitelmat

div.ui-view
