mixin tilalaatikko(tila, kuvake)
  .tila(ng-if="tila === '" + tila + "'" ng-click="valitseTila(tila)")
    button(class="btn tilakuvake fa fa-pencil tilavari-" + tila)
    div.tilakuvaus
      h4(kaanna="'tila-" + tila + "'")
      p(kaanna="'tilakuvaus-" + tila + "'")


div.modal-header
  h2(ng-bind="'vaihda-tilaa' | kaanna")

div.modal-body
  div.tilat
    div.nykyinen-tila
    div.muut-tilat
      .clearfix
      div.tila-laatikko(ng-repeat="tila in sallitutTilat[ops.tila2016]")
        +tilalaatikko("luonnos", "pencil")
        +tilalaatikko("valmis", "pencil")
        +tilalaatikko("julkaistu", "pencil")
        +tilalaatikko("poistettu", "pencil")

div.modal-footer
  button.btn.btn-default(ng-click="peruuta()")
    span(ng-bind="'peruuta' | kaanna")

