div.modal-header
  h2(kaanna="'valitse-koodi'")

div.modal-body.modal-koodisto
  div(ng-if="koodit.length > 0" ng-repeat="(name, koodit) in koodisto")
    +contentToggler("koodit.$$show", "'koodisto-' + name")
      table.table.table-striped
        thead
          tr
            th
            th(kaanna="'koodi'")
            th(kaanna="'nimi'")
        tbody
          tr(ng-repeat="koodi in koodit")
            td(style="padding: 4px 0 0 10px;")
              input(type="checkbox" ng-model="valitut[koodi.uri]")
            td(kaanna="koodi.arvo" ng-click="valitut[koodi.uri] = !valitut[koodi.uri]" style="cursor: pointer")
            td(kaanna="koodi.nimi" ng-click="valitut[koodi.uri] = !valitut[koodi.uri]" style="cursor: pointer")

div.modal-footer
  button.btn.btn-default(ng-click="peruuta()")
    span(kaanna="'peruuta'")
  button.btn.btn-primary(ng-click="ok()")
    span(kaanna="'valitse'")
