mixin author-time-signature
  table.tiedote-author-date(ng-if="!$$ekEditing || $$ekEditingIndex != $index")
    tr
      td(ng-bind="(tiedote.luotu || tiedote.muokattu) | aikaleima")
      td(ng-bind="tiedote.luoja")

mixin lisaa-uusi-tiedote-btn
  button.btn.btn-primary.pull-right.tiedote-editing-btn(ng-hide="$$ekEditing"
    ng-if="!creatingNewTiedote" ng-click="setCreationState(true)" kaanna="'lisaa-uusi-tiedote'")

+lisaa-uusi-tiedote-btn

div.row
  div.col-xs-12(ng-if="!creatingNewTiedote")
    div.alert.alert-info(ng-show="tiedotteet.length === 0")
      span(kaanna="'tiedotteita-ei-ole'")

    div.tiedotteet(ng-repeat="tiedote in tiedotteet")
      div.tiedote.fade-in-out
        div.tiedote-laatikko
          div.pull-left(ng-show="tiedote.tarkea")
            .icon
              +icon("exclamation")
          div.pull-left(ng-show="!tiedote.tarkea")
            .icon
              +icon("question")
          .tiedote-actions
            div.pull-right(ng-if="!$$ekEditing")
              a(ng-click="edit($index)" href="")
                +icon("pencil")
              a(ng-click="kuittaa(tiedote)" href="")
                +icon("times")

          .tiedote-otsikko-editointi(ng-if="$$ekEditing && $$ekEditingIndex === $index")
            input.form-control(ng-model="tiedote.otsikko" type="text" required="true" placeholder="otsikko")

          .tiedote-otsikko
            p(ng-if="!$$ekEditing || $$ekEditingIndex !== $index" ng-bind="tiedote.otsikko ")
            +author-time-signature

          .tiedote-sisalto(ng-if="$$ekEditing && $$ekEditingIndex === $index")
            div.form-control.ckeditor(ckeditor ng-model="tiedote.teksti" layout="normal")
          .tiedote-sisalto(ng-show="tiedote.$$isOpen" ng-if="!$$ekEditing || $$ekEditingIndex != $index" ng-bind-html="tiedote.teksti | unsafe")
          .tiedote-sisalto.checkbox.abc-checkbox(ng-if="$$ekEditing && $$ekEditingIndex === $index")
            input.styled(type="checkbox" checked="true" ng-model="tiedote.tarkea")
            label
              strong(kaanna="tarkea")
            span.julkinen-btn-margin-left
              input.styled(type="checkbox" checked="true" ng-model="tiedote.julkinen")
              label
                strong(kaanna="julkinen")
            // div.pull-right
            //   button.btn.btn-danger(kaanna="'poista'" ng-click="remove(tiedote)")

          .expand(ng-if="!$$ekEditing || $$ekEditingIndex != $index" ng-click="tiedote.$$isOpen = !tiedote.$$isOpen")
            a(href="")
              i.glyphicon.glyphicon-option-horizontal

  div.col-xs-12(ui-view="uusi_tiedote_div" ng-if="creatingNewTiedote")
