mixin author-time-signature
    table.tiedote-author-date(ng-if="!$$ekEditing || $$ekEditingIndex != $index")
        tr
            td(ng-if="tiedote.luoja")
                span {{ tiedote.luoja }}
            td.separator(ng-if="tiedote.luottu")
                span {{ tiedote.luottu | date }}
            td(ng-if="tiedote.muokkaaja")
                i muokkattu:&nbsp;
                span {{ tiedote.muokkaaja }}
            td(ng-if="tiedote.muokattu")
                span {{ tiedote.muokkattu | date }}

div.row
    div.col-xs-12
        a.btn.btn-primary.pull-right.tiedote-editing-btn(ng-if="!creatingNewTiedote" ng-click="setCreationState(true)" kaanna="lisaa-uusi-tiedote")
    div.col-xs-12(ui-view="uusi_tiedote_div" ng-if="creatingNewTiedote")
    div.col-xs-12
        div.tiedotteet(ng-repeat="tiedote in tiedotteet")
            div.tiedote(id="tiedote1")
                div.tiedote-laatikko
                    div.pull-left(ng-show="tiedote.tarkea")
                        .icon
                            i.fa.fa-exclamation
                    div.tiedote-laatikko(ng-show="!tiedote.tarkea")
                        div.pull-left
                            .icon
                                i.fa.fa-question
                    a(ng-if="!$$ekEditing || $$ekEditingIndex != $index" href="#" ng-click="remove(tiedote)").pull-right
                        span.fa.fa-times
                    a(ng-if="!$$ekEditing || $$ekEditingIndex != $index" href="#" ng-click="edit($index)").pull-right
                        span.fa.fa-pencil
                    .tiedote-otsikko
                        div(ng-if="$$ekEditing && $$ekEditingIndex === $index")
                            input.form-control(ng-model="tiedote.teksti" type="text" required=true)
                        p(ng-if="!$$ekEditing || $$ekEditingIndex != $index") {{ tiedote.otsikko }}
                        +author-time-signature
                    .tiedote-sisalto(ng-if="$$ekEditing || $$ekEditingIndex === $index")
                        div.form-control.ckeditor(ckeditor ng-model="kasite.selitys" layout="normal")
                    .tiedote-sisalto(ng-if="!$$ekEditing || $$ekEditingIndex != $index" id="tiedote1-sisalto" ng-bind-html="tiedote.teksti")
                    .tiedote-muokkaja(ng-if="$$ekEditing || $$ekEditingIndex === $index")
                        input.form-control(ng-model="tiedote.muokkaaja" type="text" required=true placeholder="muokkaaja")
                    .tiedote-tarkea(ng-if="$$ekEditing || $$ekEditingIndex === $index")
                        label.col-xs-1.control-label(kaanna="tarkea")
                            .col-xs-2
                                input(type="checkbox" checked="true" ng-model="newTiedote.tarkea")
                    .expand
                        a(href="" onclick="$('#tiedote1-sisalto').fadeOut().slideToggle(400).dequeue();")
                            i.glyphicon.glyphicon-option-horizontal

            div.tiedote(id="tiedote2")
                div.tiedote-laatikko
                    div.pull-left
                        .icon
                            i.fa.fa-question
                    a(href="" onclick="$('#tiedote2').fadeTo(400, 0).slideUp(600, function() { jQuery(this).remove() }).dequeue();").pull-right
                        span.fa.fa-times
                    .tiedote-otsikko
                        p Huomioikaa työryhmien omien osuuksien palautuspäivä 31.1.2016
                        p Hervannan OAL 12.1.2016
                    .tiedote-sisalto(id="tiedote2-sisalto") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .expand
                        a(href="" onclick="$('#tiedote2-sisalto').fadeOut().slideToggle(400).dequeue();")
                            i.glyphicon.glyphicon-option-horizontal

