div.row
    div.col-xs-12
        a.btn.btn-primary.pull-right.tiedote-editing-btn(ng-if="!creatingNewTiedote" ng-click="setCreationState(true)" kaanna="lisaa-uusi")
    div.col-xs-12(ui-view="uusi_tiedote_div" ng-if="creatingNewTiedote")
    div.col-xs-12
        div.tiedotteet(ng-repeat="tiedote in tiedotteet")
            div.tiedote(id="tiedote1")
                div.tiedote-laatikko
                    div.pull-left(ng-show="tiedote.tarkea")
                        .icon
                            i.fa.fa-exclamation
                    div.tiedote-laatikko(ng-show="!tiedote.tarkea")
                        div.pull-left
                            .icon
                                i.fa.fa-question
                    a(href="#" ng-click="remove(tiedote)").pull-right
                        span.fa.fa-times
                    .tiedote-otsikko
                        p {{ tiedote.otsikko }}
                        p OPH 12.1.2016
                    .tiedote-sisalto(id="tiedote1-sisalto" ng-bind-html="tiedote.teksti")
                    .expand
                        a(href="" onclick="$('#tiedote1-sisalto').fadeOut().slideToggle(400).dequeue();")
                            i.glyphicon.glyphicon-option-horizontal

            div.tiedote(id="tiedote2")
                div.tiedote-laatikko
                    div.pull-left
                        .icon
                            i.fa.fa-question
                    a(href="" onclick="$('#tiedote2').fadeTo(400, 0).slideUp(600, function() { jQuery(this).remove() }).dequeue();").pull-right
                        span.fa.fa-times
                    .tiedote-otsikko
                        p Huomioikaa työryhmien omien osuuksien palautuspäivä 31.1.2016
                        p Hervannan OAL 12.1.2016
                    .tiedote-sisalto(id="tiedote2-sisalto") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .expand
                        a(href="" onclick="$('#tiedote2-sisalto').fadeOut().slideToggle(400).dequeue();")
                            i.glyphicon.glyphicon-option-horizontal

