mixin uusi-tiedote-controls
  span.pull-right
    span.btn.btn-warning.btn-small-margin-left(ng-click="cancel()" ng-bind="'peruuta' | kaanna")
    span=" "
    span.btn.btn-primary(ng-click="postTiedote(newTiedote)" ng-bind="'ok' | kaanna")

div.add-tiedote-form.fx-fade-normal
  div.uusi-tiedote
    div.uusi-tiedote-laatikko.clearfix
      form.form-horizontal.col-xs-12
        .col-xs-12
          legend(ng-bind="'uusi-tiedote' | kaanna")
        .form-group
          label.col-xs-1.control-label(for="tiedote-otsikko" ng-bind="'otsikko' | kaanna")
          .col-xs-10
            input.form-control(ng-model="newTiedote.otsikko" type="text" required="true")
        .form-group
          label.col-xs-1.control-label(for="tiedote-teksti" ng-bind="'sisalto' | kaanna")
          .col-xs-10
            div(ckeditor ng-model="newTiedote.teksti" layout="normal")
        .form-group
          label.col-xs-1.control-label(ng-bind="'tarkea' | kaanna")
          .col-xs-1.checkbox.abc-checkbox
            input.styled(type="checkbox" checked="true" ng-model="newTiedote.tarkea")
            label &nbsp;
          label.col-xs-1.control-label(ng-bind="'julkinen' | kaanna")
          .col-xs-2.checkbox.abc-checkbox
            input.styled(type="checkbox" checked="true" ng-model="newTiedote.julkinen")
            label &nbsp;
          .col-xs-6.controls-padding-right
            +uusi-tiedote-controls

