mixin ktNimi()
  .tiedotelistaus.subtle-transition(ui-view="tiedotteet")
  .koulutustoimija.subtle-transition
    h2.otsikko(style="margin-bottom: 20px; margin-top: 10px;")
      span(ng-bind="koulutustoimija.nimi | kaanna")
      span
        a(href="" ui-sref="root.koulutustoimija.tiedot")
          i.fa.fa-pencil.fa-fw
      .pull-right(ng-show="koulutustoimijat.length > 1")
        span.dropdown(uib-dropdown)
          a.dropdown-toggle(href="" uib-dropdown-toggle)
            i.fa.fa-chevron-down.fa-fw
          ul.dropdown-menu.dropdown-menu-right(uib-dropdown-menu)
            li(ng-repeat="kt in koulutustoimijat" ng-class="{'active': koulutustoimija.id === kt.id}")
              a(href="" ui-sref="root.koulutustoimija.detail({ ktId: kt.id })" ng-bind="kt.nimi | kaanna")
    // p(ng-bind-html="koulutustoimija.kuvaus | kaanna | unsafe")
    block


mixin ophImpl()
  +ktNimi
    div(ui-view="pohjat")
    div(ui-view="opetussuunnitelmat")
    div(ui-view="tilastot")
    // .tabit
      uib-tabset(class="nav nav-tabs" type="tabs")
        uib-tab(heading="{{ 'tilastot' | kaanna }}")
        uib-tab(heading="{{ 'ohjeistus' | kaanna }}")
          div(ui-view="ohjeistus")


mixin ktImpl()
  +ktNimi
  tiedot(ui-view="yhteinen")
  div(ui-view="opetussuunnitelmat")


div(ng-if="isOph")
  +ophImpl()

div(ng-if="!isOph")
  +ktImpl()
