mixin tiedotteet()
  div.tiedotelaatikko(ng-class="{ 'tiedotelaatikko-active': $$showTiedotteet }")
    div.pull-right
      button.btn.btn-primary(href="" ng-click="toggleTiedotteet()")
        span(kaanna="'tiedotteet'")
        span.badge(ng-if="tiedotteet.length > 0" style="margin-left: 8px;" ng-bind="tiedotteet.length")
  div.tiedotelistaus(ng-show="$$showTiedotteet" ui-view="tiedotteet")


mixin ktNimi()
  div.koulutustoimija.subtle-transition
    h2.otsikko
      span(kaanna="koulutustoimija.nimi")
      span.dropdown
        a.dropdown-toggle(href="" data-toggle="dropdown")
          i.fa.fa-chevron-down.fa-fw
        ul.dropdown-menu.dropdown-menu-right
          li(ng-repeat="kt in koulutustoimijat")
            a(href="" ui-sref="root.koulutustoimija.detail({ ktId: kt.id })" kaanna="kt.nimi")
    +tiedotteet()
    block


mixin ophImpl()
  +ktNimi
    div(ui-view="pohjat")
    div(ui-view="tilastot")


mixin ktImpl()
  +ktNimi
    div(ui-view="yhteinen")
    div(ui-view="opetussuunnitelmat")


div(ng-if="isOph")
  +ophImpl()

div(ng-if="!isOph")
  +ktImpl()
