mixin ktNimi()
  .tiedotelistaus.subtle-transition(ui-view="tiedotteet")
  .koulutustoimija.subtle-transition
    h2.otsikko
      span(ng-bind="koulutustoimija.nimi | kaanna")
      span.dropdown(uib-dropdown)
        a.dropdown-toggle(href="" uib-dropdown-toggle)
          i.fa.fa-chevron-down.fa-fw
        ul.dropdown-menu.dropdown-menu-right(uib-dropdown-menu)
          li(ng-repeat="kt in koulutustoimijat" ng-class="{'active': koulutustoimija.id === kt.id}")
            a(href="" ui-sref="root.koulutustoimija.detail({ ktId: kt.id })" ng-bind="kt.nimi | kaanna")
    block


mixin ophImpl()
  +ktNimi
    div(ui-view="pohjat")
    div(ui-view="tilastot")


mixin ktImpl()
  +ktNimi
    div(ui-view="yhteinen")
    div(ui-view="opetussuunnitelmat")


div(ng-if="isOph")
  +ophImpl()

div(ng-if="!isOph")
  +ktImpl()
