mixin tiedotteet()
  div.tiedotelaatikko(ng-class="{ 'tiedotelaatikko-active': $$showTiedotteet }")
    div.pull-right
      button.btn.btn-primary(href="" ng-click="toggleTiedotteet()")
        span(kaanna="'tiedotteet'")
        span.badge(ng-if="tiedotteet.length > 0" style="margin-left: 8px;" ng-bind="tiedotteet.length")
  div.tiedotelistaus(ng-show="$$showTiedotteet" ui-view="tiedotteet")


mixin ophImpl()
  div.koulutustoimija
    h2.otsikko
      span(kaanna="koulutustoimija.nimi")
      span.dropdown(ng-show="koulutustoimijat.length > 1")
        a.dropdown-toggle(href="", data-toggle="dropdown")
          i.fa.fa-chevron-down.fa-fw
        ul.dropdown-menu.dropdown-menu-right
          li(ng-class="{ 'active': kt.id === koulutustoimija.id }" ng-repeat="kt in koulutustoimijat")
            a(href="" ui-sref="root.koulutustoimija.detail({ ktId: kt.id })")
              span(kaanna="kt.nimi")
    +tiedotteet()
    div(ui-view="pohjat")


mixin ktImpl()
  div.koulutustoimija
    h2.otsikko
      span(kaanna="koulutustoimija.nimi")
      span.dropdown(ng-show="koulutustoimijat.length > 1")
        a.dropdown-toggle(href="", data-toggle="dropdown")
          i.fa.fa-chevron-down.fa-fw
        ul.dropdown-menu.dropdown-menu-right
          li(ng-class="{ 'active': kt.id === koulutustoimija.id }" ng-repeat="kt in koulutustoimijat")
            a(href="" ui-sref="root.koulutustoimija.detail({ ktId: kt.id })")
              span(kaanna="kt.nimi")
    +tiedotteet()
    div(ui-view="yhteinen")
    div(ui-view="opetussuunnitelmat")


div(ng-if="isOph")
  +ophImpl()

div(ng-if="!isOph")
  +ktImpl()
