div.otsikkotaso.yhteiset-osa
  h3(kaanna="'koulutustoimija-yhteiset-osat'")
  table.table.boxtable
    tbody
      tr
        td
          div
            div(name="state")
        td
          div
            a(href="" ui-sref="^.yhteiset.sisalto.tiedot({ yhteisetId: yhteiset.id })")
              span(kaanna="yhteiset.nimi")
        td
          div
            a(href="" ui-sref="^.yhteiset.sisalto.tiedot({ yhteisetId: yhteiset.id })")
              div(name="go")
                span.glyphicon.glyphicon-chevron-right
