div.otsikkotaso.yhteinen-osa
    h3 Koulutustoimijakohtainen yhteiset osat
    table.table.boxtable
        tbody
            tr
                td
                    div
                        div(name="state")
                td
                    div Kokkolan kokkikoulun yhteiset
                td
                    div
                        a(href="#" ui-sref="^.yhteiset")
                            div(name="go")
                                span.glyphicon.glyphicon-chevron-right
