div.otsikkotaso.ops-osa
  h3(ng-bind="'yhteistyo' | kaanna")
  div(ng-hide="$$ekEditing")
    div.form-group
      label.checkbox-inline
        span(ng-bind="'salli-yhteistyo' | kaanna")
        input.form-control(type="checkbox" ng-model="koulutustoimija.salliystavat" disabled)
  div(ng-show="$$ekEditing")
    div.form-group
      label.checkbox-inline
        span(ng-bind="'salli-yhteistyo' | kaanna")
        input.form-control(type="checkbox" ng-model="koulutustoimija.salliystavat")

  div.yhteistyot
    div(ng-repeat="org in kaverit")
      span.nimi(ng-bind="org.nimi | kaanna")
      span.actions
        button.btn.primary(ng-bind="'aloita-yhteistyo' | kaanna")
        button.btn.primary(ng-bind="'lopeta-yhteistyo' | kaanna")
