h2.otsikko
  span(ng-bind="'tiedot' | kaanna")
  button.btn.btn-primary.pull-right(ng-hide="$$ekEditing" ng-click="edit()" ng-bind="'muokkaa' | kaanna" oikeustarkastelu="hallinta")
  button.btn.btn-default.pull-right(style="margin-left: 5px" ng-show="$$ekEditing" ng-click="cancel()" ng-bind="'peruuta' | kaanna")
  button.btn.btn-primary.pull-right(ng-show="$$ekEditing" ng-click="save()" ng-bind="'tallenna' | kaanna")

div(style="margin-top: 15px")
  +ekeditor("koulutustoimija.kuvaus", "normal")

.row
    .col-xs-12
      .tabit
        ul.nav.nav-tabs
          li(ui-sref-active="active")
            a(ui-sref=".yhteistyo" ng-bind="'yhteistyo' | kaanna")
          li(ui-sref-active="active")
            a(ui-sref=".opspaivitettavat" ng-bind="'opetussuunnitelmat-joissa-vanhentunut-peruste' | kaanna")
          li(ui-sref-active="active")
            a(ui-sref=".siirravanhat" ng-bind="'siirravanhat' | kaanna")  

.row
    .col-xs-12
      .ui-view
