$icon-font-path: "fonts/bootstrap/";
$fa-font-path: "fonts";
@function font-path($path) { @return $path; }

@import "vendor/bootstrap";
@import "vendor/font_awesome";
@import "vendor/virkailija";
@import "vendor/checkbox";
@import "vendor/ui_select";

@import "../components/editointikontrollit/_styles.scss";
@import "../components/ohje/_ohje.scss";
@import "../components/loadingbar/_loading_bar.scss";
@import "../components/notifikaatiot/_notifikaatiot.scss";

@import "../components/editointikontrollit/styles";
@import "../components/ohje/ohje";
@import "../components/loadingbar/loading_bar";
@import "../components/toggler/styles";
@import "../components/ckeditor/styles";

@import "../modals/add/styles";
@import "../modals/revisions/styles";
@import "../modals/tilat/styles";

@import "generic/boxtable";
@import "generic/modal";
@import "generic/has_feedback";
@import "generic/amosaa_icons";
@import "generic/animations";

@import "modules/virhe";
@import "modules/mixins";
@import "modules/main";
@import "modules/ylanavi";
@import "modules/murupolku";
@import "modules/koulutustoimija";
@import "modules/opetussuunnitelmat";
@import "modules/tiedotteet";
@import "modules/kasitteet";
@import "modules/tutkinnonosa";
@import "modules/suorituspolku";

@keyframes subtle-transition {
    from { opacity: 0; }
    to { opacity: 1; }
}

.subtle-transition {
    animation-duration: 0.5s;
    animation-name: subtle-transition;
}

*::-webkit-scrollbar {
    width: 11px;
}

*::-webkit-scrollbar-track {
    background-color: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: #ccc;

    &:hover {
        background-color: #ddd;
    }
}
