doctype html
html(lang="fi" ng-app="app")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    include ./templates.jade
    link(rel="stylesheet" href="styles.css")
    script(src="dependencies.js")
    script(src="app.js")
    title="ePerusteet-amosaa"
  body
    // Debug
    div.container(style="border-left: 1px dashed lightgray; border-right: 1px dashed lightgray; border-bottom: 1px dashed lightgray;")
      div.row
        .col-xs-12
          ul.list-inline
            li: a(href="", ui-sref="root.sandbox") sandbox
            li: a(href="", ui-sref="root") koulutustoimija
            li: a(href="", ui-sref="root.routelist") routelist

    div(ui-view="notifikaatiot")
    div.container(style="border-left: 1px dashed lightgray; border-right: 1px dashed lightgray;")
      div.ui-view
      div.editointi-wrapper
        editointikontrollit
