div.tekstikappaleet
  .ylapalkki
    +historia("versio", "tkv.tekstiKappale", "edit()", "listRevisions()", "restoreRevision()", "restoreNew()")
      button.btn.btn-primary.muokkaa(ng-show="$$ekEditing" ng-click="remove()" kaanna="'poista'")

  div
    div(ng-if="$$ekEditing")
      h1(kaanna="'nimi'")
      input.form-control(slocalized ng-model="tkv.tekstiKappale.nimi" type="text" required="true")
      h1(kaanna="'sisalto'")
      div.form-control(ckeditor slocalized ng-model="tkv.tekstiKappale.teksti" layout="normal")
    div(ng-if="!$$ekEditing")
      h1(kaanna="tkv.tekstiKappale.nimi")
      p(ng-bind-html="tkv.tekstiKappale.teksti | kaanna")
