div.tekstikappale
  h1 Tekstikappaleen otsikko
  h2
    a(href="#")
      i.fa.fa-chevron-down
    | Tekstikappaleen aliotsikko
  div(uib-collapse="false")
    p
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec dignissim orci. Mauris et molestie risus, ut bibendum arcu. Quisque euismod ligula nec urna imperdiet laoreet. Vivamus consequat mi non magna finibus tincidunt. Nullam faucibus neque urna, pretium euismod diam feugiat nec. Aliquam erat volutpat. Integer vehicula non turpis ac egestas. Nunc eget est eros. Mauris ullamcorper, ante semper fringilla sollicitudin, dui sapien commodo lacus, vel lobortis odio nunc non justo. Etiam nunc turpis, consequat id interdum finibus, ullamcorper nec nibh. Nunc blandit pretium porttitor. Praesent egestas in odio quis dapibus. Pellentesque lobortis est lectus, non imperdiet dolor aliquam non. Integer commodo, elit at ullamcorper scelerisque, magna arcu sagittis leo, sit amet imperdiet justo turpis non nunc. Nunc nulla tellus, aliquet et interdum id, cursus ac quam.
    p
      span Ut purus massa, facilisis nec mi non, varius sollicitudin orci. Curabitur malesuada luctus libero, quis posuere urna aliquet et. Duis ut posuere eros. In hac habitasse platea dictumst. Integer pharetra maximus venenatis. Fusce varius tellus nec vestibulum placerat. Integer et turpis sit amet elit pretium consectetur id eu odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris ac orci erat. Ut ante ante, rutrum vitae eros eget, pulvinar commodo mauris. Ut condimentum tristique turpis eget molestie. Mauris suscipit ac nibh eget facilisis. Proin ornare lectus eu urna finibus, nec placerat tellus volutpat.

  h2
    a(href="#")
      i.fa.fa-chevron-right
    | Suljettu tekstikappaleen otsikko

  h2
    a(href="#")
      i.fa.fa-chevron-right
    | Toinen suljettu tekstikappaleen otsikko
