div.tekstikappaleet
  h1 Tekstikappaleen otsikko
  h2
    a(href="#")
      i.fa.fa-chevron-down
    | Tekstikappaleen aliotsikko
  div.tekstikappale
    div(ckeditor slocalized ng-model="model")

  h2
    a(href="#")
      i.fa.fa-chevron-right
    | Suljettu tekstikappaleen otsikko
  div.tekstikappale
    p
      span Ut purus massa, facilisis nec mi non, varius sollicitudin orci. Curabitur malesuada luctus libero, quis posuere urna aliquet et. Duis ut posuere eros. In hac habitasse platea dictumst. Integer pharetra maximus venenatis. Fusce varius tellus nec vestibulum placerat. Integer et turpis sit amet elit pretium consectetur id eu odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris ac orci erat. Ut ante ante, rutrum vitae eros eget, pulvinar commodo mauris. Ut condimentum tristique turpis eget molestie. Mauris suscipit ac nibh eget facilisis. Proin ornare lectus eu urna finibus, nec placerat tellus volutpat.

  h2
    a(href="#")
      i.fa.fa-chevron-right
    | Toinen suljettu tekstikappaleen otsikko
  div.tekstikappale
    p
      span Ut purus massa, facilisis nec mi non, varius sollicitudin orci. Curabitur malesuada luctus libero, quis posuere urna aliquet et. Duis ut posuere eros. In hac habitasse platea dictumst. Integer pharetra maximus venenatis. Fusce varius tellus nec vestibulum placerat. Integer et turpis sit amet elit pretium consectetur id eu odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris ac orci erat. Ut ante ante, rutrum vitae eros eget, pulvinar commodo mauris. Ut condimentum tristique turpis eget molestie. Mauris suscipit ac nibh eget facilisis. Proin ornare lectus eu urna finibus, nec placerat tellus volutpat.

      span Ut purus massa, facilisis nec mi non, varius sollicitudin orci. Curabitur malesuada luctus libero, quis posuere urna aliquet et. Duis ut posuere eros. In hac habitasse platea dictumst. Integer pharetra maximus venenatis. Fusce varius tellus nec vestibulum placerat. Integer et turpis sit amet elit pretium consectetur id eu odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris ac orci erat. Ut ante ante, rutrum vitae eros eget, pulvinar commodo mauris. Ut condimentum tristique turpis eget molestie. Mauris suscipit ac nibh eget facilisis. Proin ornare lectus eu urna finibus, nec placerat tellus volutpat.
