
div.yhteistyot
  h2.otsikko(ng-bind="'siirravanhat' | kaanna")

  div.alert.alert-info(ng-if="opetussuunnitelmaLkm === -1" kaanna="'haetaan-vanhentuneet-toteutussuunnitelmat'")
  div.alert.alert-success(ng-if="opetussuunnitelmaLkm === 0" kaanna="'ei-siirtoa-vaativia-toteutussuunnitelmia'")
  div(ng-repeat="historialiitos in historialiitokset" ng-if="!hakukesken")
    h3(ng-bind="historialiitos.organisaatio.nimi | kaanna")
    table.table
      tr(ng-repeat="opetussuunnitelma in historialiitos.opetussuunnitelmat")
        td(width="40%")
          span(ng-bind="opetussuunnitelma.nimi | kaanna")
        td(width="40%")
          span(ng-bind="opetussuunnitelma.peruste.nimi | kaanna")
        td(width="20%" style="text-align:right")
          button.btn.btn-default.square(href="" ng-click="siirra(opetussuunnitelma)" ng-bind="'siirra' | kaanna")

  table.table(ng-if="opetussuunnitelmaLkm > 1")
    tr
      td(width="80%") &nbsp;
      td(width="20%" style="text-align:right")
        button.btn.btn-default.square(href="" ng-click="siirraKaikki()" ng-bind="'siirra-kaikki' | kaanna")      

    