.row
    .col-xs-12
        h1.page-header Bootstrap

        h2 Tables
        table.table
            thead
                tr
                    th thead tr th
                    th th
                    th Header
                    th Header
            tbody
                tr
                    td tbody tr td
                    td td
                    td Data
                    td Data
                tr
                    td Data
                    td Data
                    td Data
                    td Data
                tr
                    td Data
                    td Data
                    td Data
                    td Data

        h2 Buttons

        div
            button.btn.btn-default Default
            span &nbsp;
            button.btn.btn-primary Primary
            span &nbsp;
            button.btn.btn-success Success
            span &nbsp;
            button.btn.btn-info Info
            span &nbsp;
            button.btn.btn-warning Warning
            span &nbsp;
            button.btn.btn-danger
                span Attention

        h2 Icons

        div
            span.fa-stack.fa-lg(style="color: #199dd0;")
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-info.fa-stack-1x.fa-inverse

            span.fa-stack.fa-lg(style="color: #dd524c;")
                i.fa.fa-square-o.fa-stack-2x
                i.fa.fa-exclamation.fa-stack-1x

        h2 Buttons disabled

        div
            button.btn.btn-default.disabled Default
            span &nbsp;
            button.btn.btn-primary.disabled Primary
            span &nbsp;
            button.btn.btn-success.disabled Success
            span &nbsp;
            button.btn.btn-info.disabled Info
            span &nbsp;
            button.btn.btn-warning.disabled Warning
            span &nbsp;
            button.btn.btn-danger.disabled Danger

        h2 Modals

        button.btn.btn-primary(data-toggle='modal', data-target='#wizard')
            | Launch wizard
        #wizard.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myWizardLabel').wizard
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h4.modal-title Lis채채 uusi
                    .modal-body
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        form
                            .form-group
                                label.control-label(for='test-name') Test:
                                input#test-name.form-control(type='text')
                            .form-group
                                label.control-label(for='message-text') Message:
                                textarea#message-text.form-control
                            .form-group
                                label.radio-inline
                                    input#inlineRadio1(type='radio', name='inlineRadioOptions', value='option1')
                                    |  1
                                label.radio-inline
                                    input#inlineRadio2(type='radio', name='inlineRadioOptions', value='option2')
                                    |  2
                                label.radio-inline
                                    input#inlineRadio3(type='radio', name='inlineRadioOptions', value='option3')
                                    |  3
                    .modal-footer
                        button.btn.btn-default(type='button') Takaisin
                        button.btn.btn-default(type='button', data-dismiss='modal') Peruuta
                        button.btn.btn-primary(type='button') OK

        span &nbsp;

        button.btn.btn-primary(data-toggle='modal', data-target='#modal')
            | Launch modal
        #modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h4.modal-title Lis채채 uusi
                    .modal-body
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        form
                            .form-group
                                label.control-label(for='test-name') Test:
                                input#test-name.form-control(type='text')
                            .form-group
                                label.control-label(for='message-text') Message:
                                textarea#message-text.form-control
                            .form-group
                                label.radio-inline
                                    input#inlineRadio1(type='radio', name='inlineRadioOptions', value='option1')
                                    |  1
                                label.radio-inline
                                    input#inlineRadio2(type='radio', name='inlineRadioOptions', value='option2')
                                    |  2
                                label.radio-inline
                                    input#inlineRadio3(type='radio', name='inlineRadioOptions', value='option3')
                                    |  3
                    .modal-footer
                        button.btn.btn-default Takaisin
                        button.btn.btn-default(type='button', data-dismiss='modal') Peruuta
                        button.btn.btn-primary OK

        h2 Input with feedback

        .form-group.has-feedback.has-feedback-left
            label.control-label Search
            input.form-control(type='text', placeholder='Search')
            i.form-control-feedback.glyphicon.glyphicon-search(style="color: gray;")
