.row
    .col-xs-12
        h1#css.page-header CSS
        h2#tables Tables
        table.table
            thead
                tr
                    th thead tr th
                    th th
                    th Header
                    th Header
            tbody
                tr
                    td tbody tr td
                    td td
                    td Data
                    td Data
                tr
                    td Data
                    td Data
                    td Data
                    td Data
                tr
                    td Data
                    td Data
                    td Data
                    td Data