.row
  .col-xs-12
    h1#css.page-header CSS
    h2#tables Tables
    table.table.boxtable
      thead
        tr
          th
          th
            a(href="#") TUTKINNON NIMI&nbsp;
              span.glyphicon.glyphicon-sort-by-attributes
          th
            a(href="#") KOULUTUSALA&nbsp;
              span.glyphicon.glyphicon-sort-by-attributes
          th
            a(href="#") TUTKINNON TYYPPI&nbsp;
              span.glyphicon.glyphicon-sort-by-attributes
          th
            a(href="#") TUTKINTONIMIKE&nbsp;
              span.glyphicon.glyphicon-sort-by-attributes
      tbody
        tr
          td
            div
              div(name="state")
              div(name="favourite")
                a(href="#")
                  span.glyphicon.glyphicon-star
          td
            div Kulttuurialan perustutkinto
          td
            div Kulttuuriala
          td
            div Ammatillinen peruskoulutus
          td
            div
              div Medianomi
              a(href="#")
                div(name="go")
                  span.glyphicon.glyphicon-chevron-right



        tr
          td
            div
              div(name="state")
              div(name="favourite")
                a(href="#")
                  span.glyphicon.glyphicon-star
          td
            div Kulttuurialan perustutkinto
          td
            div Kulttuuriala
          td
            div Ammatillinen peruskoulutus
          td
            div
              div Medianomi
              a(href="#")
                div(name="go")
                  span.glyphicon.glyphicon-chevron-right



        tr
          td
            div
              div(name="state")
              div(name="favourite")
                a(href="#")
                  span.glyphicon.glyphicon-star
          td
            div Kulttuurialan perustutkinto
          td
            div Kulttuuriala
          td
            div Ammatillinen peruskoulutus
          td
            div
              div Medianomi
              a(href="#")
                div(name="go")
                  span.glyphicon.glyphicon-chevron-right
