h2 Paikalliset editointikontrollit
button.btn.btn-primary(ng-click="edit()", ekbutton) Muokkaa
br
div(ng-show="isEditing")
  button.btn.btn-primary(ng-click="save()") Save
  button.btn.btn-danger(ng-click="cancel()") Cancel
