h2 loading bar
button.btn.btn-default(ng-click="startLoading()") start loading
button.btn.btn-default(ng-click="jumpAhead()") jump ahead
button.btn.btn-default(ng-click="stopLoading()") finish loading