h2 Notifikaatiot
button.btn.btn-info(ng-click="normaali()") Normaali
button.btn.btn-success(ng-click="onnistui()") Onnistui
button.btn.btn-warning(ng-click="varoitus()") Varoitus
button.btn.btn-danger(ng-click="fataali()") Fataali
