h1 Sandbox
div(ui-view="editointikontrollit_local")
div(ui-view="editointikontrollit_global")
div(ui-view="kaanna")
h2 Ohje
ohje(teksti="this is a test", otsikko="test title", suunta="top")
h2
//span(us-spinner)
div(ui-view="loading_bar")